[2012-10-24 08:00] dohmatob opened #1 "nipype.interfaces.spm.Realign (and possibly other such interfaces) dreadfully dreadfully slow!!"
nipype.interfaces.spm.Realign (and possibly other such interfaces) dreadfully dreadfully slow!!

Indeed, it seems the (matlab batch) pyscript_realign.m script generated by nipype is very poorly configured.

For the same, elementary task (single subject, single fmri image motion correction), the SPM8 gui runs in 5 seconds or so, whilst the nipype version takes about 25 minutes!!!

To solve this, we

[2012-10-30 12:35] #1 closed, assigned to dohmatob

[2012-12-04 13:23] GaelVaroquaux opened #3 "[Doc] Readme"
The pypreprocess project needs a Readme that describes what it is.

[2012-12-05 16:35] dohmatob opened #4 "[Viz] AttributeError: 'numpy.bool_' object has no attribute '_mask' (nipy.labs.viz.plot_anat call)"
For certain images (very 'empty'), nipy.labs.viz.plot_anat(..) causes a:

 AttributeError: 'numpy.bool_' object has no attribute '_mask'

We should make a bugware in nipy (fork) to address such situations, and then do a pull req later.

[2012-12-13 15:22] dohmatob opened #5 "[Doc] Code badly needs documenting"
- Functions, classes, etc. should have comprehensive docstrings
- The wiki for this project is nearly blank! Do the write-up progressively.

[2012-12-13 18:32] dohmatob opened #6 "[PREPROC UTILS] Use DARTEL for intersubject normalization"
So far so good, the workflow has been intra-subject: subject -> mni template
We are changing this to inter-subject: subject -> group template produced using DARTEL

[2012-12-13 18:48] dohmatob opened #7 "Update report page status to green "Done", when preproc is over"
The status of the preproc report page says "Thu Dec 13 2012 19:46:27 GMT+0100 (CET)
STILL RUNNING .." even when the preproc is actually done.

[2012-12-14 09:52] AlexandreAbraham opened #8 "[REPORT] ENH: Do not update when page is not visible"
With jQuery, it is not difficult to see if the page is visible. If it is not, there is no reason to update it. An immediate update is however welcome as soon as the user get back on the page. I raise this issue because I had browser warning about "script slowing down the browser" due this background activity, which is quite annoying.

[2012-12-14 10:55] dohmatob opened #9 "[ABIDE] Merge nipype_preproc_spm_abide_new.py with nipype_preproc_spm_abide.py"
When nipype_preproc_spm_abide_new.py becomes stable (i think it's still experimental), merge it with nipype_preproc_spm_abide.py. We need just one script for the ABIDE preproc business!

[2012-12-14 10:59] AlexandreAbraham opened #10 "[NISL] Abide fetching"
Some subjects are not fetched by fetch_abide:
- KKI 50813 is a subject present in the CSV but not in the files
- UCLA {51232, 51233, 51242-51247, 51270, 51310} because they have no anat
- OHSU \* because they have several functional scans (1 to 3 sessions)

This has been done for the sake of simplicity. OHSU can be simply added (we can take a random session, or merge the 3 sessions). I don't know

[2012-12-14 13:16] dohmatob opened #11 "[ABIDE REPORT] Include short comprehensive description of each subject (well, sick, etc.)"
In the report page for each subject, include short comprehensive description about them (well, sick, etc.). This is helpful in interpreting certain QA results.

[2012-12-14 18:36] #11 closed, assigned to dohmatob

[2013-01-30 15:23] dohmatob opened #13 "IndexError: list index out of range in nipy/nipy/labs/viz_tools/coord_tools.py"
This is triggered when preprocessing openfmri. I am intensionally not giving any details to reproduce this.

[Memory] Calling check_preprocessing.plot_cv_tc...
plot_cv_tc('/vaporific/edohmato/pypreprocess_runs/openfmri/ds107/sub001/cache_dir/nipype_mem/nipype-interfaces-spm-preprocess-Normalize/0373e12bc04f5e6fde8be91db678bcb3/wrbold.nii',
'task001_run001', 'sub001', '/vaporific/edohmato/pypreproc

[2013-03-05 12:55] #7 closed, assigned to dohmatob

[2013-03-05 12:59] #6 closed, assigned to nobody

[2013-03-05 13:06] #9 closed, assigned to nobody

[2013-03-05 13:10] #10 closed, assigned to nobody

[2013-03-25 12:37] dohmatob opened #14 "Need local copy of jquery (jquery.js) so we can visualize QA without internet connection"
We should have a local copy of http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js (or other alternative) in the code repo so one can still have fanciful jquery effects without internet connection.

[2013-03-27 08:53] dohmatob opened #15 "io_utils.delete_orientation(..) should not have an FSL dep; use nibabel for this business!"
Function io_utils.delete_orientation(..) should not have an FSL dependency; use nibabel for this business!

[2013-04-09 15:29] dohmatob opened #16 "Multiple tiny issues raised by Philippe with reporting package"
*\* Sur external/tempita
- Le dépôt mercurial de tempita est présent dans ta branche (tempita/.hg). Il me paraît souhaitable de l'enlever avant de faire une pull request.

*\* Sur pypreprocess
- La structure générale du package n'est pas très claire. Ça pourrait valoir le coup d'ajouter un **init**.py au niveau racine ou de bien faire la distinction entre exemples et code de pyprocess (par ex. io_

[2013-04-10 11:35] dohmatob opened #17 "io_utils.compute_mean_image(): tout charger avant d'appeler np.mean() est un peu violent"
`io_utils.compute_mean_image()`: tout charger avant d'appeler `np.mean()` est un peu violent: le facteur limitant étant le chargement des données depuis le disque

[2013-04-10 13:54] dohmatob opened #18 "The design nipype_preproc_spm_utils.SubjectData is bad. Re-think this class."
@pgevais's comment:
"- nipype_preproc_spm_utils.py:89 la classe SubjectData pourrait prendre en paramètres anat, func et output_dir, ce qui éviterait d'avoir à les définir après coup, comme ce qui est fait dans nipy_glm_spm_auditory.py:61 (ça me paraît plus "pythonique")."

[2013-07-29 08:11] #16 closed, assigned to dohmatob

[2013-07-29 08:16] dohmatob opened #20 "We only need nilearn/datasets.py and nilearn/tests/test_datasets.py files, not the whole project"
We only need nilearn/datasets.py and nilearn/tests/test_datasets.py files, not the whole project. All other files should be deleted asap.

[2013-07-29 18:59] dohmatob opened #21 "REFACTOR things into packages (in the python sense)"
Upon @gael's request:
- turn reporting, coreutils, external, and algorithms into packages (in the python sense)
- these packages should be flat, i.e without deep directory structure (the opposite of the algorithms directory at the moment)

[2013-07-31 15:29] dohmatob opened #22 "Resample EPI to original resolution to save disk space"
Resample EPI to original resolution to save disk space. We'd use nilearn's `resample` or pypreprocess's `spm_reslice` functions for this business

[2013-07-31 15:39] GaelVaroquaux opened #23 "Output all important files to a single directory"
Currently it seems to me that output files are left in the cache directory. It makes it hard to organize the work, as the paths can only be accessed via a hash. It would be good to output the interesting files (e.g. those that have been resampled :) to an output directory. To avoid copying, this could be done with a hard link on unices.

[2013-08-02 06:44] dohmatob opened #24 "STC should support multi-band acquisition"
I've heard rumours in Neurospin that we now do multi-band acqusition. Thusly, our STC should provide support for this (we'll be ahead of SPM).

[2013-08-05 15:20] #24 closed, assigned to dohmatob

[2013-08-05 15:26] #23 closed, assigned to dohmatob

[2013-08-06 12:04] dohmatob opened #25 "Automatically detect and unzip all .nii.gz files to .nii (SPM doesn't support the former)"
Automatically detect and unzip all .nii.gz files into .nii (SPM doesn't support the former). This will save people time and debugging (SPM fails silently with a rather cryptic error message). The `unzip_nii_gz` function in dataset_extras.py should be used for doing the unzipping proper.

[2013-08-07 14:30] dohmatob opened #26 "preproc_reporter.generate_dataset_preproc_report generates html with broken paths!"
For example:
file:///home/sb238920/CODE/pypreprocess/examples/servier2_QA_reports/servier2_QA_reports/FB120416_acquisition21/report_preproc.html

More details on this bug will follow.

[2013-09-16 13:12] dohmatob opened #27 "Remove "SPM" in function names. Refer to SPM in docstrings only!"
Remove "SPM" in function names. Refer to SPM in docstrings only!.

For exampke we've this problem in the spm_coreg module.

[2013-10-19 20:05] #18 closed, assigned to dohmatob

[2013-10-19 20:05] #21 closed, assigned to dohmatob

[2013-10-19 20:05] #25 closed, assigned to dohmatob

[2013-10-19 20:05] #26 closed, assigned to dohmatob

[2013-10-19 20:07] #27 closed, assigned to dohmatob

[2013-10-19 20:08] #14 closed, assigned to dohmatob

[2013-10-19 20:09] #20 closed, assigned to nobody

[2013-10-20 04:38] dohmatob opened #29 "HTML reports should be put in separate folder, like FSL does"
HTML reports should be put in a separate folder, like FSL does. At the moment, output directries mix the final nifti images with report files.

[2013-10-20 04:42] dohmatob opened #30 "Misleading failed.png image is created in output directories, even when everythx worked"
A misleading failed.png image is created in the output directories, even when everythx worked. Actually this file is the src of a thumbnail intended to replace the final thumbnail --in the report pages-- for a subject whose preprocessing failed.

[2013-10-20 04:44] dohmatob opened #31 "In report pages, thumbnails don't show in non-firefox browsers"
In report pages, thumbnails don't show in non-firefox browsers

[2013-10-20 04:47] #3 closed, assigned to dohmatob

[2013-10-20 23:04] dohmatob opened #32 "ENH: Add possibility to use NewSegment and then normalize using standard way"
ENH: Add possibility to use NewSegment and then normalize using standard way (i.e without DARTEL & co.)

[2013-10-21 00:11] dohmatob opened #33 "BUG: subject output directories are polluted with all kinds of strange files (.png, .nii, .nii.gz)"
BUG: subject output directories are polluted with all kinds of strange files (.png, .nii, .nii.gz)

Organization should be:
- tmp/: all temporarily generated stuff
- cache_dir: cache directory as usual
- all other files (i.e preprocessing final output files) should be in subject's root/immediate directory

[2013-10-21 00:17] #29 closed, assigned to dohmatob

[2013-10-21 00:17] #30 closed, assigned to dohmatob

[2013-10-21 00:17] #33 closed, assigned to dohmatob

[2013-10-21 00:45] dohmatob opened #34 "ENH: Add support for dcm -> nii automatic conversion using dcm2nii command"
Add support for dcm2nii (automatic). Automatically detect DICOM input files and convert them to nifti.

[2013-10-21 17:48] dohmatob opened #35 "BUG: check_preprocess.plot_registration blows up memory"
check_preprocess.plot_registration blows up memory. Normally, we should only need the first volume f the src and reference images (i.e we don't need to use compute_mean_3D_image & co.)

[2013-11-13 09:47] bthirion opened #36 "realignment breaks when n_sess > 6"
Because no more than 6 parameter files are output.
The culprit seems to be line 514. However, changing

self.realignment_parameters_ = np.array(
            self.realignment_parameters_)[..., :6]

to

self.realignment_parameters_ = np.array(
            self.realignment_parameters_)[..., :self.n_sessions]

breaks the unit tests.

[2013-11-19 08:11] bthirion opened #37 "do-report breaks due to an attempt to display a 4D fMRI image"
Maybe you shuold coregister also the mean functional image created by realign and use it for display ?
Thanks !

--------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/usr/lib/python2.7/dist-packages/IPython/utils/py3compat.pyc in execfile(fname, *where)
    173             else:
    174

[2013-12-11 10:09] bthirion opened #38 "Weird condition in len(sessions)"
In subject_data.py, l.160-165

if self.session_id is None:
            if len(self.func) < 10:
                self.session_id = ["session_%i" % i
                                   for i in xrange(len(self.func))]
            else:
                self.session_id = ["session_0"]

If I get it correctly It is consider that scans represent different sessions when there are less than 10 of them. Howe

[2013-12-16 15:27] dohmatob opened #39 "UnboundLocalError: local variable 'apply_to_files' referenced before assignment"
Traceback (most recent call last):
  File "nipype_preproc_spm_auditory.py", line 49, in <module>
    last_stage=True
  File "/volatile/depot_pypreprocess/pypreprocess/pypreprocess/nipype_preproc_spm_utils.py", line 1327, in do_subjects_preproc
    ) for subject_data in subjects)
  File "/volatile/depot_pypreprocess/pypreprocess/src/joblib/joblib/parallel.py", line 514, in **call**
    self.dispatc

[2014-01-07 17:02] fabianp opened #40 "unique file name for sessions"
whenever the filename is not unique but the directory changes, as in:

[code]

the output is then overwritten by the different images, outputting a concatenation and stuff similar to

![rp_plot_1](https://f.cloud.github.com/assets/277639/1861104/6edd62dc-77bd-11e3-93b5-baa7d5e398ff.png)

[2014-01-08 14:57] #39 closed, assigned to dohmatob

[2014-01-11 09:36] dohmatob opened #41 "Add support for scratch output directories"
Add support for scratch output directories, so we can dump tmp, cache data, etc., there. This could be on a separate device dedicated for the purpose.

[2014-01-11 09:39] #34 closed, assigned to dohmatob

[2014-01-11 09:42] #22 closed, assigned to dohmatob

[2014-01-15 17:25] GaelVaroquaux opened #42 "Reporting broken when running "purepython_preproc_demo.py""
I get the following traceback:

<pre>
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
/home/varoquau/dev/ipython/IPython/utils/py3compat.pyc in execfile(fname, *where)
    202             else:
    203                 filename = fname
--> 204             __builtin__.execfile(filename, *where)

/

[2014-01-15 22:48] dohmatob opened #43 "ImportError: No module named external"
Traceback (most recent call last):
  File "spm_multimodal_fmri.py", line 22, in <module>
    from pypreprocess.nipype_preproc_spm_utils import (do_subject_preproc,
  File "/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/nipype_preproc_spm_utils.py", line 18, in <module>
    from slice_timing import get_slice_indices
  File "/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/sl

[2014-01-15 22:59] #43 closed, assigned to nobody

[2014-01-16 06:35] dohmatob opened #44 "joblib 0.8.0a3 bug: AttributeError: 'NDArrayWrapper' object has no attribute 'shape'"
This bug is not present in 0.8.0a2. I'm failing-over to this retro version. I can re-raise the issue in the joblib community.

`
Traceback (most recent call last):
  File "purepython_preproc_demo.py", line 27, in <module>
    fwhm=[8] * 3
  File "/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/purepython_preproc_utils.py", line 200, in do_subject_preproc
    prefix=func_prefix))
  File

[2014-01-16 07:31] #40 closed, assigned to dohmatob

[2014-01-16 07:54] #44 closed, assigned to nobody

[2014-01-17 13:37] VincentFrouin opened #45 "QA plots post-coregistration are empty (nipy is certainly the convict)"
QA plots post-coregistration are empty (nipy is certainly the convict)
![anat_on_func_outline](https://f.cloud.github.com/assets/3337856/1940648/83ce24a8-7f7c-11e3-90fc-92337a7d1d48.png)

[2014-01-18 12:24] #42 closed, assigned to nobody

[2014-01-18 13:53] dohmatob opened #46 "openfmri/ is probably broken"
openfmri/ is probably broken. This has not been maintained for a while now. Chances are that it is certainly broken now. I don't have local data right now to run the scripts.

[2014-01-18 13:59] dohmatob opened #47 "Implement support for pre-compiled SPM"
Implement support for pre-compiled SPM.

[2014-01-20 12:47] dohmatob opened #48 "Failed normalization for some subjects of struct/danse local NS dataset"
![subject_tmps_contours_on_subject_ warped anat](https://f.cloud.github.com/assets/634068/1954174/d51dd712-81d0-11e3-97ee-f639bb507294.png)
![subject_tmps_contours_on_subject_ warped func](https://f.cloud.github.com/assets/634068/1954177/e60fa7f8-81d0-11e3-9957-4185bd01c772.png)

[2014-01-24 10:05] fabianp opened #49 "IndexError"
I've updated to the latest pypreprocess and I get an IndexError trying to process the mixed-gambles dataset. This was working fine with f5a5ec6 so it looks that it's something that changed between both commits

Here is the full error log:

/home/fp985994/src/nipy/nipy/labs/glm/glm.py:6: RuntimeWarning: compiletime version 2.6 of module 'nipy.labs.glm.kalman' does not match runtime version 2.7

[2014-01-24 14:39] dohmatob opened #50 "Add support for .mgz (from freesurfer, for example)"
Add support for .mgz (from freesurfer, for example). The conversion should be done automatically by pypreprocess backend

[2014-01-27 12:51] #48 closed, assigned to dohmatob

[2014-01-29 14:25] schwarty opened #53 "Reporting mismatch & output names"
The report_preproc.html for a specific subject provides a set of thumbnails that correspond to the several pre-processing steps. When I click on the "execution log" link below the `normalization of the anat` for example, I expect to find anat images in the output section of the log but instead only find the pre-processed timeseries, namely wrdeleteorient_bold.nii, wrdeleteorient_bold_c0000.nii, an

[2014-01-31 06:53] dohmatob opened #55 "it should be possible to only preprocess anat images (say segmentation)"
It should be possible to only preprocess anat images (just want to segment a bunch of anats, and nothing more!) without needing to have functional data. For the moment, this use-case scenerio would throw an exception. I consider this limitation a bug.

[2014-01-31 09:01] schwarty opened #56 "Moving/renaming preproc dirs"
Would it be possible to move around a preprocessing result directory without breaking anything? At the moment the paths in the HTML reports are all absolute and prevent that. I don't know if there are other absolute paths elsewhere, and if the hardlinks would be an issue.

[2014-01-31 09:08] #56 closed, assigned to nobody

[2014-01-31 15:26] #49 closed, assigned to nobody

[2014-02-05 09:10] AlexandreAbraham opened #57 "Memory leaks ?"
I am preprocessing ABIDE using pypreprocess and after preprocessing about 50 subjects, I get a MemoryError. If I run the script again, it skips the subjects already preprocessed and is back in business for 50 more subjects, before getting a MemoryError. I'm now keeping an eye on memory consumption and I can see that it is slowly increasing.

Does anybody had the same problem ?

[2014-02-05 12:54] #57 closed, assigned to nobody

[2014-02-11 15:41] dohmatob opened #59 "write_bounding_box parameter for spm.Normalize"
It seems if this isn't handled corrected then we may end up with cropped images, etc.

For example, someone cried here:
http://mail.scipy.org/pipermail/nipy-devel/2012-February/007336.html

[2014-03-04 15:55] dohmatob opened #60 "RuntimeError: List of functional images for session number 1 has the file bla.nii RuntimeError: List of functional images for session number 1 has the file"
Caused by pure python realign backend (realign_software=python option i .ini). Should be easy to reproduce.

[code]

[2014-03-09 20:21] eickenberg opened #61 "repo size >20MB"
There aren't 20MB of code and diffs in this repo, so at some point in the future it may be useful to slim it down a little

[2014-03-10 16:19] dohmatob opened #62 "Allow for number of sessions (aka runs) to be different across subjects"
Allow for number of sessions (aka runs) to be different across subjects.

At the moment, in the .ini config files,  it's assumed (wrongly) that all subjects must have the same number of sessions (aka runs) and subjects with less sessions are flagged as faulty. Fix this.

[2014-03-10 16:27] dohmatob opened #63 "Convert nipype list-like outputs to standard python lists"
Convert nipype list-like outputs to standard python lists. At the moment, they're Traits-like objects, which are not easily serializable (for example when dumping SubjectData with/to json).

[2014-11-24 08:24] dohmatob opened #72 "Slice-timing correction in MB > 1"
Slice-timing correction in MB > 1.

For a start, we'd wrap fsl for this, and then do pure Python in future.

[2014-12-08 10:16] isadenghien opened #73 "error in smoothing step / spm standalone"
Hi,
I'm trying pypreprocess on my laptop with the standalone spm. It seems to work very well but it fails at the step of smoothing.

Here the error:
___________________________________________niigz2nii cache loaded - 0.0s, 0.0min
[Memory]    0.0s, 0.0min: Loading pypreprocess.io_utils.niigz2nii from /volatile/test_localizer1/result/subject01/cache_dir/joblib/pypreprocess/io_utils/niigz2nii/23db864

[2014-12-10 11:37] #63 closed, assigned to nobody

[2014-12-10 11:38] #55 closed, assigned to nobody

[2014-12-10 11:39] #53 closed, assigned to nobody

[2014-12-10 11:39] #47 closed, assigned to nobody

[2014-12-10 11:40] #4 closed, assigned to dohmatob

[2014-12-10 11:40] #36 closed, assigned to dohmatob

[2014-12-10 11:42] #41 closed, assigned to nobody

[2014-12-10 13:29] #73 closed, assigned to nobody

[2015-02-17 12:47] alpinho opened #74 "slice_timing_demos.py seems broken and unmaintained"
/usr/local/lib/python2.7/dist-packages/pypreprocess/reporting/preproc_reporter.pyc in _get_time_series_from_voxel(x, voxel)
    945         if isinstance(x, np.ndarray):
    946             if x.ndim == 3:
--> 947                 return x[voxel[0], voxel[1], voxel[2]]
    948             else:
    949                 assert x.ndim == 4 == len(voxel) + 1

IndexError: index (20) out of range (0<=ind

[2015-03-25 11:58] bthirion opened #75 "Dependence on nipy.labs.statistical_mapping"
in pypreprocess/reporting/glm_reporter.

This dependence is problematic because it goes to nipy compiled code. A pure-python equivalent is however easy to set up

[2015-03-25 11:59] dohmatob commented on #75
Agreed.

On Wed, Mar 25, 2015 at 12:58 PM, bthirion <notifications@github.com> wrote:

--
DED

[2015-03-25 12:00] bthirion opened #76 "Dependence on nipy_labs/viz_tools/"
Now deprectaed: should use Nilear visualization instead.

[2015-03-25 12:01] bthirion commented on #13
See #76

[2015-03-25 12:01] #13 closed

[2015-03-25 12:10] bthirion commented on #38
Fixed AFAIK

[2015-03-25 12:10] #38 closed

[2015-03-25 17:16] AlexandreAbraham opened #77 "Weird parallel call to newsegment"
I am preprocessing data using `n_jobs=32`. I have noticed something strange.

First, Among all SPM processes, only two of them are running:

![pypreprocess1](https://cloud.githubusercontent.com/assets/1647301/6830577/00ea1e18-d31b-11e4-9e08-fff8e1e153e5.png)

When I look at the exact call, I realize that it is actually the same script that is launched 32 times:

![pypreprocess2](https://cloud.gith

[2015-03-25 18:54] dohmatob commented on #77
No this is weird and looks like a bug. But ... 32 processes and only 2 are
running, are you sure the others are not zombies, etc. BTW, only the
_do_subjects_dartel function executes the NewSegment node, the former
itself being invoked by do_subjects_preproc. So it's not quiet possible for
all those processes to have been spawned by a single same call to
do_subjects_preproc. Could you please copy-p

[2015-03-26 08:35] AlexandreAbraham commented on #77
Here are the requested files! Yes I use dartel and `n_jobs=32`. BTW, despite of this weird behavior, newsegment ran fine and I am now at dartel step.

What I was thinking is that maybe these scripts were ran by mistake (because of the n_jobs) and that they were blocked by an IO somewhere.

preproc.py:
[code]

preproc.ini
[code]

[2015-03-29 18:25] dohmatob commented on #5
Issue is not very objective. Terminating.

[2015-03-29 18:25] #5 closed

[2015-03-29 18:26] #17 closed

[2015-03-29 18:26] #35 closed

[2015-03-29 18:38] dohmatob commented on #61
Most of the size is accounted for by pypreprocess/tests/test_data.

[2015-03-29 18:38] #61 closed

[2015-03-30 11:38] alpinho opened #81 "IndexError: index 20 is out of bounds for axis 1 with size 10"
/home/analu/git_repo/pypreprocess/examples/slice_timing_demos.py in <module>()
    404
    405 if __name__ == '__main__':
--> 406     # demo on simulated data
    407     demo_random_brain()
    408     demo_sinusoidal_mixture()

/home/analu/git_repo/pypreprocess/examples/slice_timing_demos.py in demo_random_brain(n_rows, n_columns, n_slices, n_scans)
     37
     38     # QA clinic
---> 39     ge

[2015-03-30 11:59] alpinho opened #82 "Scripts sharing the same input data set"
The following scripts

* ~/examples/coreg_demos.py,
* ~/examples/nipype_preproc_spm_auditory.py,
* ~/examples/purepython_preproc_demo.py,
* ~/examples/realign_demos.py,
* ~/pypreprocess/datasets.py,
* ~/pypreprocess/tests/test_realign.py,
* ~/pypreprocess/tests/test_slice_timing.py

take the same input data set

* 'fetch_spm_auditory_data',  from different paths.

The input data shall be stored on

[2015-03-30 13:00] dohmatob commented on #81
Fixed.

[2015-03-30 13:00] #81 closed

[2015-03-30 13:00] dohmatob commented on #74
Fixed.

[2015-03-30 13:00] #74 closed

[2015-03-30 13:01] dohmatob commented on #45
Fixed.

[2015-03-30 13:01] #45 closed

[2015-03-30 13:11] dohmatob commented on #76
Fixed.

[2015-03-30 13:11] #76 closed

[2015-03-30 13:12] dohmatob commented on #37
I can't reproduce this. Do you still observe the bug. Otherwise I'll just close the issue.

[2015-03-30 14:24] alpinho commented on #82
The scripts 'examples/nipy_glm_fsl_feeds_fmri.py' and 'examples/realign_demos.py' also share the same input data set 'fetch_fsl_feeds_data'. The input data set doesn't share the same pathway on both scripts, as well.

[2015-03-30 15:29] alpinho commented on #82
The scripts

~/examples/coreg_demos.py and
~/examples/nipype_preproc_spm_nyu.py

share the same input data set

'fetch_nyu_rest'.

[2015-03-30 15:46] alpinho commented on #82
The scripts

~/examples/nipype_preproc_spm_multimodal_faces.py
~/examples/realign_demos.py
~/examples/slice_timing_demos.py
~/pypreprocess/datasets.py
~/pypreprocess/glm_utils.py
~/sprint.py

share the same input data set

fetch_spm_multimodal_fmri_data

[2015-03-30 16:55] dohmatob commented on #82
Fixed.

[2015-03-30 16:55] #82 closed

[2015-03-30 17:03] dohmatob opened #84 "Issue2Wiki"
Maintaining Pypreprocess
=====================
**Team: Ana Luisa & Elvis**

The goal of the project was n-fold.
* First and foremost, pyreprocess had remained unmainted for a long time; many a script became broken consequently.
* Second, we had a painful dependence on nipy, which we so wished we'd  one day do away with. With recent progress in the nilearn plotting tools, it seemed rather natural t

[2015-03-31 07:45] mrahim opened #85 "Dartel pipeline crashes"
Seems that a `cv_tc` keyword is wrong ?

[code]

[2015-03-31 08:48] alpinho opened #87 "TypeError: sanitize() got an unexpected keyword argument 'do_deleteorient'"
TypeError                                 Traceback (most recent call last)
/home/analu/git_repo/pypreprocess/examples/coreg_demos.py in <module>()
     86
     87 # NYU rest demo
---> 88 for subject_id, func, anat in _nyu_rest_factory():
     89     print "%s +++NYU rest %s+++\r\n" % ("\t" * 5, subject_id)
     90     _run_demo(func, anat)

/home/analu/git_repo/pypreprocess/examples/coreg_demos.p

[2015-03-31 08:54] dohmatob commented on #87
Should be fixed now.

[2015-03-31 09:02] alpinho opened #88 "TypeError: _do_subject_normalize() got an unexpected keyword argument 'smooth_software'"
TypeError                                 Traceback (most recent call last)
/home/analu/git_repo/pypreprocess/examples/nipype_preproc_spm_nyu.py in <module>()
     33 # preprocess the data
     34 results = do_subjects_preproc(jobfile, dataset_dir=os.path.join(
---> 35     dataset_dir, "nyu_rest"))

/home/analu/git_repo/pypreprocess/pypreprocess/nipype_preproc_spm_utils.pyc in do_subjects_preproc(

[2015-03-31 09:02] #87 closed

[2015-03-31 09:12] dohmatob commented on #88
Should be fixed.

[2015-04-01 00:29] #88 closed

[2015-04-01 09:59] bthirion opened #90 "Tsdiffana -- just adding images"
![ts1](https://cloud.githubusercontent.com/assets/234454/6938784/7c4f0dd4-d866-11e4-98d9-a8085d21ea34.png)
![ts2](https://cloud.githubusercontent.com/assets/234454/6938794/8714edc4-d866-11e4-85b5-cfbb1210b185.png)

[2015-04-01 10:18] dohmatob commented on #90
This looks really awesome!

Som suggestions though:
* change label "scaled variance" to "coefficient of variation"
* Condence all the QA to 2 or three most informative thumbnails
(concatenate results for different sessions / runs, etc.)

2015-04-01 11:59 GMT+02:00 bthirion <notifications@github.com>:

--
DED

[2015-04-01 13:07] bthirion commented on #90
two slightly more messy examples (putting images into the wiki)
![ts3](https://cloud.githubusercontent.com/assets/234454/6941431/420f3256-d880-11e4-99d6-522ba8d8f9c0.png)
![ts4](https://cloud.githubusercontent.com/assets/234454/6941418/1c7f3374-d880-11e4-818d-06bb151b826d.png)

[2015-04-02 08:32] dohmatob commented on #90
Nice. It be good to send a PR (I don't see any) already, so we can start
reviewing the feature and the code.

On Wed, Apr 1, 2015 at 3:07 PM, bthirion <notifications@github.com> wrote:

--
DED

[2015-04-07 07:55] mrahim commented on #85
Still errors, this time with  `coregister_software`
[code]

[2015-04-07 08:20] dohmatob commented on #85
Hi there,

Thanks for re-reporting. I've just pushed a patch. Can you confirm the error disappears ?

[2015-04-07 08:39] mrahim commented on #85
Dartel is running now, the error disappeared.
Thanx for the quick fix !

[2015-04-07 08:43] dohmatob commented on #85
OK, closing.

[2015-04-07 08:43] #85 closed

[2015-04-09 08:16] mrahim opened #92 "Dartel normalization - voxel_size format error"
```DARTELNorm2MNIInputSpec``` does not accept ```voxel_size``` as a list, it must be a tuple.

[code]

[2015-04-09 08:23] mrahim opened #94 "Incomplete report when using DARTEL"
`cv_tc` plot is missing

[2015-04-11 09:06] dohmatob commented on #92
Fixed.

[2015-04-11 09:06] #92 closed

[2015-04-11 09:10] dohmatob opened #95 "configure_spm.py logic is weird and produces unwanted behavior."
If user provides SPM_MCR, we still try to find matlab before falling back to MCR. Thus if user supplies SPM_MCR and we find matlab, we try to use the matlab (if we find an installation). This is wrong and unwanted behavior, and can be dangerous as the user might not hold the matlab semaphore, etc., leading to utter failure.

[2015-04-14 10:54] dohmatob opened #96 "Remove post-STC thumbnail from reports (this is confusing)"
Remove post-STC thumbnail from reports (this is confusing). Front-end users don't care.

[2015-04-14 13:28] dohmatob commented on #90
Please could you polish the labels (axes, legends, etc.) and concatenate results for different sessions (and separate with a broken vertical line)

[2015-04-14 13:30] dohmatob commented on #90
Also, It'd be nice to have more comprehensive label / legends. For example, what is "variation" ? etc.

[2015-04-15 04:04] #96 closed

[2015-04-15 04:07] dohmatob commented on #46
This issue is not very objective. Closing.

[2015-04-15 04:07] #46 closed

[2015-04-15 04:12] dohmatob opened #98 "The newsegment option for the config (.ini) files doesn't seem to be used"
The `newsegment` option for the config (.ini) files doesn't seem to be used. This is buggy behavior.

[2015-04-15 04:13] #37 closed

[2015-04-15 19:49] dohmatob commented on #90
Any progress on the legends, etc. ?

[2015-04-19 10:34] dohmatob opened #102 "Ensure at least 80% code coverage."
We should ensure at least **80% code coverage**. The present state of affairs is rather wobbly, ideal for the germination of all kinds of bugs and unfeatures.

[2015-04-19 11:41] dohmatob commented on #31
This issue is due to chrome-based browsers not allowing local file access (security results)  by default (see http://stackoverflow.com/questions/24826544/chrome-allow-file-access-from-files-no-longer-working-was-using-to-see-webgl-th, for example). So this issue is a won't/can't fix. As update, I've added and explicit warning

**N.B.: RENDERING OF QA THUMBNAILS IS ENSURED BY LOCAL JQUERY SCRIPTS.

[2015-05-06 09:12] eickenberg opened #104 "Using pypreprocess after a long time"
Since the API has changed somewhat since I last used this, I am taking advantage of my empty slate state to attack this software package as a newbie. In particular I would like to start using the config file approach, if possible.

Concerning this, I don't seem to be able to load https://github.com/neurospin/pypreprocess/wiki/Example-scripts
Has this moved?

[2015-05-06 09:18] dohmatob commented on #104
Hi @eickenberg,

Thanks for using our broken products (with absolutely no warranty, not even warranty ensuring usability of any kind, etc.). Yes we've deleted the wiki pages because we reckoned users wouldn't look at them. The info those wiki pages used to contain are now show-cased in the readme https://github.com/neurospin/pypreprocess/blob/master/README.rst in-place.

Waiting you here more.

[2015-05-06 09:20] eickenberg commented on #104
OK I found that, thanks. I will then delete the link to the wiki page if you don't mind.

[2015-05-06 09:20] dohmatob commented on #104
... so I'm removing the broken link https://github.com/neurospin/pypreprocess/wiki/Example-scripts

[2015-05-06 09:21] eickenberg commented on #104
OK thanks

[2015-05-06 09:23] dohmatob commented on #104
Done.

[2015-05-06 09:27] eickenberg commented on #104
This is unlikely the only thing I will have to ask about. Do you want me to open a new issue for everything? I thought of collecting the things here, because they are pretty minor and not really worth a full issue in itself.

[2015-05-06 09:39] dohmatob commented on #104
I've just made some amendments to the readme to render things more informative.

[2015-05-06 12:17] eickenberg commented on #104
When using .ini files, is it possible to refer, in the specification of the path to the functional files, to the name of the subject? All files and folder I have contain the subject name. If I wildcard to hard, I may get too many files...

[2015-05-06 12:18] eickenberg commented on #104
Is there an example that uses SPM standalone? The ini files I see need the specification of a matlab executable

[2015-05-06 12:19] eickenberg commented on #104
Sry not true for `nyu_rest_preproc.ini`. But I assume it still looks for matlab by default?

[2015-05-06 12:37] dohmatob commented on #104
- You only need to specify matlab or spm path when you're running on YOD
(your-own-device). If running on drago, then pypreprocess will auto-locate
pre-compiled SPM, etc.. Similar story for CEA machines.
The logic is implemented in pypreprocess/configure_spm.py

- You can open an ticket per issue or a ticket for all your issues. Just do
as it suites you, I'm fine with either way.

On Wed, May 6, 2

[2015-05-07 16:23] eickenberg commented on #104
`SubjectData` has optional arguments (e.g. output directories) that seem to be mandatory in the sense that they are needed and not imputed by functionality using this structure. In at least one function relying on `SubjectData` these values are also not mandatory and thus cause an assertion error.

The only reason to keep the arguments non-mandatory in `SubjectData` is if it is not clear at creati

[2015-05-07 16:37] dohmatob commented on #104
@eickenberg: Thanks for reporting this. You're absolutely right. Almost all of the arguments of SubjectData constructor should be optional. I'll fix this immediately. Could you please copy-paste the error message thrown, so I can roll a test case to bullet-proof this ?

[2015-05-07 16:40] eickenberg commented on #104
for example not specifying `output_dir` leads to this when calling `do_subject_preproc`

[code]

[2015-05-07 16:58] dohmatob commented on #104
OK, thx. It looks like the SubjectData object is a nest for potential bugs. Looking into this.

[2015-05-07 17:42] dohmatob commented on #104
See PR #105. Once travis is green, I merge.

[2015-05-07 18:29] dohmatob commented on #102
![coveralls](https://cloud.githubusercontent.com/assets/634068/7522746/885b1192-f4f7-11e4-99bf-930f1d906cf8.png)

Not quite there yet...

[2015-05-13 17:04] lesteve opened #106 "_utils.check_niimgs does not exist in nilearn 0.1.3"
Not sure what you want to do and whether you want to support nilearn > 0.1.3 and nilearn 0.1.2. Also there is the more general question of whether code in _utils should be used outside nilearn ... cc @GaelVaroquaux @bthirion @AlexandreAbraham

The fix for nilearn 0.1.3 is to use _utils.check_niimg_4d or _utils.check_niimg should be used. The latter is to be used only if the input image is 3d or 4d

[2015-05-13 17:21] lesteve commented on #106
For reference I bumped on this when rebasing #100. The error is [here](https://travis-ci.org/neurospin/pypreprocess/builds/62425972).

[2015-05-13 18:40] arokem opened #107 "License?"
Is this code released under any particular license? I might have missed it, but couldn't find any license information. Thanks!

[2015-05-13 19:25] bthirion commented on #107
Hi Ariel,

We do not particularly try to advertize it, because it will bring us more trouble than reward. Take its as BSD-licensed (we should add it explicitly).

Bertrand

----- Mail original -----

[2015-05-13 23:06] AlexandreAbraham commented on #106
Since we are un dev mode, I would be in favor of supporting >= 0.1.3

Prefixed module can be used outside but with no guarantee.

For most cases `check_niimg_4d` should do.

[2015-05-14 08:40] GaelVaroquaux commented on #106
_utils is private, which means that it shouldn't be used outside of nilearn.

[2015-05-18 08:26] dohmatob commented on #106
I'm about to close this isssue. @lesteve  can you confirm this is now fixed in master (pypreprocess) ?

[2015-05-18 08:27] dohmatob commented on #104
Any update ?

[2015-05-18 08:31] dohmatob commented on #107
I've added BSD 3clause license in readme. Closing the issue.

[2015-05-18 08:31] #107 closed

[2015-05-18 08:34] dohmatob opened #109 "openfmri script(s) seem(s) thoroughly broken"
The openfmri/ and scripts/ subdirectories are probably broken. These should be cleaned up or perhaps  simply deleted from the repo.

[2015-05-20 07:06] mrahim opened #110 "Newsegment is not performed even when newsgment=True"
`Newsegment` is not actually launched with ` newsegment = True ` in the `.ini` file, I have `Segment` instead.

[2015-05-20 20:08] bthirion commented on #109
To be discussed with @schwarty . In geenral, I think that it is useful to have scripts to pre-process openfMRI.

[2015-05-21 14:17] dohmatob commented on #104
OK, I conclude everything is OK. Closing issue.

[2015-05-21 14:17] #104 closed

[2015-05-21 14:18] dohmatob commented on #84
Merged.

[2015-05-21 14:18] #84 closed

[2015-05-21 14:18] dohmatob commented on #32
Done.

[2015-05-21 14:18] #32 closed

[2015-05-21 14:20] dohmatob commented on #60
Not applicable.

[2015-05-21 14:20] #60 closed

[2015-05-21 14:21] eickenberg commented on #104
Yeah, sorry for not getting back. Conclusion: I wasn't able to use the
config files in a straightforward way to preprocess my data (probably due
to a lack of understanding) and so resorted to using pypreprocess at the
python level, which worked.

On Thu, May 21, 2015 at 4:17 PM, DOHMATOB Elvis <notifications@github.com>
wrote:

[2015-05-21 16:20] dohmatob commented on #62
Should be closed once PR #113 is merged.

[2015-05-21 16:58] dohmatob commented on #110
Fixed.

[2015-05-21 16:58] #110 closed

[2015-05-21 16:59] dohmatob commented on #98
Fixed.

[2015-05-21 16:59] #98 closed

[2015-05-21 16:59] dohmatob commented on #75
Fixed.

[2015-05-21 16:59] #75 closed

[2015-05-27 11:50] mrahim opened #115 "Wrong Normalization of the anatomical image"
When normalizing to `MNI` template without segmenting the T1 image, the fMRI normalization works correctly.
However, the warped anatomical image is wrong, the saved image is the functional one.

[2015-05-27 12:14] #115 closed

[2015-06-01 08:47] lesteve commented on #90
This should probably be closed in favour of #100.

[2015-06-01 12:21] mrahim opened #118 "Some issues when preprocessing with DARTEL"
I ran a preprocessing pipeline with `DARTEL`.
While the processing went fine, I've noted some issues mainly on the report :
* `plot_cv_tv` is not performed even with the flag `plot_cv_tv = True`
* The main `report_preproc.html` is empty and does not contain the  `mean functional image_on_template_outline_axial` thumbnail of the subjects.
* The outline of the segmentation on the images is wrong.

e

[2015-06-01 19:04] dohmatob commented on #118
Also:
* The one-thumb-per-subject report page show coreg output instead of normalization output

[2015-06-02 12:44] mrahim commented on #118
The resampling issue is related to a wrong `dtype` when handling 4d images in `resample_img` of `nilearn.image`. This was reported to @lesteve

[2015-06-02 13:14] dohmatob commented on #118
Cool. Thanks for the autopsy. We'll need a regression test for this, it's
been fixed upstream.

On Tue, Jun 2, 2015 at 2:44 PM, mrahim <notifications@github.com> wrote:

--
DED

[2015-06-02 14:20] lesteve commented on #118
see https://github.com/nilearn/nilearn/pull/598.

[2015-06-25 14:30] dohmatob commented on #118
See PR #119 fixing this issue (at least the Dartel parts of the problem).

[2015-07-22 12:32] dohmatob opened #120 "Configure circle-ci for pypreprocess"
circle ci is a nice CI (continuous integration) server for testing that examples run, etc., which greatly complements tavis (we only run nosetests here). It is doing miracles in the nilearn project. We should have this in pypreprocess too.

[2015-07-25 15:55] dohmatob opened #121 "update pypreprocess to respect current nilearn data-fetching API"
ImportError                               Traceback (most recent call last)
<ipython-input-2-706f89d75ebb> in <module>()
----> 1 from pypreprocess.datasets import fetch_spm_auditory

/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/datasets.py in <module>()
      4 import re
      5 import nibabel
----> 6 from nilearn.datasets import (_fetch_file, _fetch_files, _uncompress_file,
      7

[2015-07-25 16:03] dohmatob commented on #121
Fixed.

[2015-07-26 12:07] dohmatob commented on #121
Reopened because nilearn release still pending.

[2015-07-27 13:58] dohmatob opened #122 "fmri data can be 3D too :)"
______________________________________________________niigz2nii - 0.0s, 0.0min
Traceback (most recent call last):
  File "pypreprocess.py", line 23, in <module>
    subjects = do_subjects_preproc(sys.argv[1])
  File "/home/jb232823/CODE/pypreprocess/pypreprocess/nipype_preproc_spm_utils.py", line 1667, in do_subjects_preproc
    subject_data, **preproc_params) for subject_data in subjects)
  File

[2015-07-27 14:28] dohmatob commented on #122
Also, as pointed out by @mrahim, PET data is most 3D.

[2015-07-27 15:18] dohmatob opened #124 "tsdiffana not working on 3D images"
[Memory] Calling pypreprocess.time_diff.multi_session_time_slice_diffs...
multi_session_time_slice_diffs([ '/neurospin/lnao/Pdiff/josselin/jennifer_roi/normalise_mni/pypreprocess_output/001/wt2_t1.nii'])
Traceback (most recent call last):
File "pypreprocess.py", line 23, in
subjects = do_subjects_preproc(sys.argv[1])
File "/home/jb232823/CODE/pypreprocess/pypreprocess/nipype_preproc_spm_utils.py",

[2015-07-29 19:58] #90 closed

[2015-07-29 19:59] #106 closed

[2015-07-29 21:18] bthirion commented on #124
I don't get it : chec_niimg_4d accepts iterables, i.e. list of 3D images.
Of course, you cannot launch it on a single 3D image.
I am afraid I don't get the point.

[2015-08-03 09:04] mrahim opened #125 "SPM12 support (was NewSegment Inputs Error in NYU Example)"
When running `nipype_preproc_spm_nyu.py`, I've got this error :
[code]

[2015-08-03 09:08] dohmatob commented on #125
OK, broken example.

[2015-08-03 09:37] mrahim opened #126 "Segment Inputs Error in Haxby Example"
Another broken example, might be due to the spm version (12) ?
[code]

[2015-08-04 09:09] dohmatob opened #128 "Make code Python 3 compatible"
Pypreprocess is not Python 3 compatible. It should be fairly easy to solve this automatically by fixing a couple of "print" statements,  xrange ==> range, etc.

[2015-08-04 09:35] dohmatob opened #129 "Remove bunched joblib from pypreprocess/external"
We should use joblib from nilearn or sklearn instead.

[2015-08-04 10:07] dohmatob commented on #125
This is strange. I can't reproduce it. What is your SPM version ? What is your nipype version ? Is your nipype installed as explained in the Readme ?

[2015-08-04 10:14] bthirion commented on #129
Maybe nilearn is the most sensible option.

[2015-08-04 10:17] GaelVaroquaux commented on #129
nilearn doesn't embed joblib. It gets it through scikit-learn.

[2015-08-04 10:24] AlexandreAbraham commented on #128
If you don't want to depend on six or future, you can cherry pick some workarounds in `nilearn._utils.compat`.

[2015-08-04 13:44] mrahim commented on #125
spm12 standalone, nipype 0.10
I just realized that it was an old version of pypreprocess, now I've updated and the script is running.
I'll tell you if everything is ok.

[2015-08-04 15:21] mrahim commented on #125
Different example, (almost) same issue.
May be related to spm12 ?

in `nipype_preproc_spm_multimodal_faces.py`
[code]

[2015-08-04 16:06] dohmatob commented on #125
On Tue, Aug 4, 2015 at 5:21 PM, mrahim <notifications@github.com> wrote:

Yes I'd say the problem is that we don't yet support spm12. I'm opening an
issue to track SPM12 compat asap.

in nipype_preproc_spm_multimodal_faces.py

--
DED

[2015-08-05 06:46] mrahim opened #130 "Fetching issues with coreg_demo.py"
The example `coreg_demo.py` is working but it downloads the example in environ['HOME']/CODE/datasets...

More generally, I think that the data folder paths should be harmonized to avoid re-downloading.

[2015-08-05 09:11] dohmatob commented on #109
For example,

elvis@middle-earth:~/CODE/FORKED/pypreprocess$ python examples/openfmri_preproc.py /tmp/ds105 /tmp/ds105_preproc -s sub001 -O
/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/configure_spm.py:147: UserWarning: Setting SPM MCR backend with cmd: spm.SPMCommand.set_mlab_paths(matlab_cmd='/home/elvis/spm8 run script', use_mcr=True)
  warnings.warn("Setting SPM MCR backend with

[2015-08-05 11:43] dohmatob commented on #125
OK, no need for a new issue. Let's just keep this one for tracking the SPM12 compat.

[2015-08-05 13:50] chrplr commented on #72
In case it is of interest, this is handled by the latest version of SPM (spm12).

[2015-08-05 13:54] dohmatob commented on #72
cool. thx for pointing it out.

[2015-08-06 07:39] dohmatob commented on #124
Yep, this is 'technically' not a problem with tsdiffana. Fixed anyways. Closing.

[2015-08-06 07:39] #124 closed

[2015-08-06 07:39] dohmatob commented on #129
Fixed.

[2015-08-06 07:39] #129 closed

[2015-08-06 07:40] dohmatob commented on #122
Fixed.

[2015-08-06 07:40] #122 closed

[2015-08-06 08:02] dohmatob commented on #130
Fixed.

[2015-08-06 08:02] #130 closed

[2015-08-06 08:04] #118 closed

[2015-08-06 08:18] dohmatob commented on #121
Fixed with **try** / **catch**

[2015-08-06 08:18] #121 closed

[2015-08-06 08:20] #62 closed

[2015-08-06 08:28] dohmatob commented on #94
Fixed.

[2015-08-06 08:28] #94 closed

[2015-08-06 10:57] chrplr opened #133 "missing __version__"
Trying to determine which version of pypreprocess I am using, I find that

pypreprocess.__version__

does not exist

[2015-08-06 12:14] mrahim commented on #125
Now I'm getting this message

[code]

[2015-08-06 12:23] MartinPerez commented on #109
I am checking this out

[2015-08-06 12:38] mrahim opened #136 "Normalization issue"
Not related to SPM version, I've got this bug in the examples :
* `nipype_preproc_spm_haxby.py`
* `nipy_glm_fsl_feeds_fmri.py`

[code]

[2015-08-06 12:43] dohmatob commented on #109
ok, great.

On Thu, Aug 6, 2015 at 2:23 PM, Martin Perez-Guevara <
notifications@github.com> wrote:

--
DED

[2015-08-06 12:46] chrplr opened #137 "would be nice to add the possibility to read the input_dir & ouput_dir from environement variables"
[code]

[2015-08-06 13:40] mrahim commented on #125
Sorry, I cleaned the cache directory and re-launched the examples under SPM12 and SPM8, both are working.

[2015-08-06 14:49] chrplr opened #140 "reading values from a text file in a *.ini file"
For example we may need to pass timings of slice acquisitions to slice_order.
 These could come from a file generated by an external tool.

[2015-08-06 16:54] dohmatob commented on #126
This will be fixed by PR #139.

[2015-08-06 17:33] #136 closed

[2015-08-06 18:44] #125 closed

[2015-08-06 23:34] MartinPerez commented on #109
the _fetch_files parameters passed were incorrect, which was causing the unpacking problem. thats fixed now. Afterwards the download was not working, due to the base url, turns out they moved to the amazon cloud, its working now. I ran into some problems with SPM configuration, so changed the openfmri to work with pure python for testing purposes, could also become an additional example.

[2015-08-06 23:37] MartinPerez commented on #109
Nonetheless the preprocessing presented some errors, like:

/media/mfpgt/MainDataDisk/PHD_research/open_source_contributions/pypreprocess/pypreprocess/purepython_preproc_utils.py in _do_subject_realign(subject_data, reslice, register_to_mean, caching, hardlink_output, ext, func_basenames, write_output_images, report, func_prefix)
     99
    100     if write_output_images > 1:
--> 101         subj

[2015-08-06 23:39] MartinPerez commented on #109
I also created a mock open fmri dataset function in _test_utils. the same problems arise.

[2015-08-06 23:51] MartinPerez commented on #109
I thinked I catched also an unrelated bug in do_subjects_preproc in spm_utils. the normalize variable was not being created when there was not an init file. So calling preproc_params['normalize'] was throwing an exception.

I changed it for this:
normalize = preproc_params.get("normalize", True)

[2015-08-07 07:09] mrahim opened #143 "Adding post-preprocessing comments to report (kind of QA)"
With @MartinPerez, we were discussing about a feature that would let a researcher adds comments at the end of a reporting, so that he could perform a QA for example.

[2015-08-07 07:11] dohmatob commented on #109
This was found and fixed yesterday morning. Please update your repo.

On Fri, Aug 7, 2015 at 1:51 AM, Martin Perez-Guevara <
notifications@github.com> wrote:

--
DED

[2015-08-07 07:11] mrahim opened #144 "Reporting could be refactored"
There are some parts of the reporting which are hard-coded.

[2015-08-07 07:18] dohmatob commented on #109
On Fri, Aug 7, 2015 at 1:34 AM, Martin Perez-Guevara <
notifications@github.com> wrote:

OK. Please consider sending a PR already with the things you've already
done on the ticket.
* Good job finding the download bugs
* But note that pure python can't go do normalization or segmentation.  I
don't mind having a separate pure python example which which run on a
single-subject. But we still need the

[2015-08-07 07:21] dohmatob commented on #144
Please could you refer to a particular part, to give us an example of the underlying issue.

[2015-08-07 08:05] dohmatob commented on #95
Fixed.

[2015-08-07 08:05] #95 closed

[2015-08-07 08:30] dohmatob commented on #137
Fixed.

[2015-08-07 08:30] #137 closed

[2015-08-07 08:39] #126 closed

[2015-08-07 08:42] MartinPerez commented on #109
Confirmed the following bug. After downloading the whole data file this strange exception comes up. the last messages makes no sense to me since the dataset was actually downloaded.

Downloaded 3343212440 of 3343212440 bytes (100.00%,    0.0s remaining)
...done. (1391 seconds, 23 min)
/home/mperezgu/.local/lib/python2.7/site-packages/nilearn/datasets.py:712: UserWarning: An error occured while fet

[2015-08-07 08:50] AlexandreAbraham commented on #109
`IOError: Fetching aborted: Target file cannot be found`

This message is awfully poor. I improved it. If you want, you can pull nilearn's master and rerun your script, you should have a more detailed report of your problem.

[2015-08-07 09:02] banilo opened #147 "Authorship comments.."
...inconsistent across python files.

[2015-08-07 12:07] MartinPerez opened #151 "Automatic check of openfmri dataset url?"
Maybe instead of having the dataset ids hardcoded, we could just check directly the webpage with an url to see if we get something back. The convention is dsxxx_raw and sometimes dsxxx_raw_partx. Both can be checked if none found that we can assume there is no dataset. It will be annoying to update the accesible datasets by hand.

[2015-08-07 12:07] MartinPerez opened #152 "pure python preprocessing fails on realignment. Weird temporary file ravol_0"
[Memory] Calling pypreprocess.realign.MRIMotionCorrection.transform...
transform(reslice=False, prefix='ra', basenames=['bold.nii.gz', 'bold.nii.gz', 'bold.nii.gz'], ext=None, output_dir='/volatile/martin_local/open_source_contributions/pypreprocess/test_tmp_data/preprocpython/ds001/sub001/tmp')
...done; output saved to /volatile/martin_local/open_source_contributions/pypreprocess/test_tmp_data/pr

[2015-08-07 17:30] banilo opened #157 "Hardcoded paths in examples"
At least the following examples contain absolute paths:

[code]

[2015-08-19 07:56] mrahim opened #160 "dataset_dir issue in Auditory example"
Here is the error
[code]

The error comes from this value in the `.ini` file
[code]

[2015-08-19 09:10] dohmatob commented on #160
Fixed. @mrahim can you confirm and close ?

[2015-08-19 09:16] mrahim commented on #160
Yes, fixed.

[2015-08-19 09:16] #160 closed

[2015-10-08 08:47] estheryclin opened #167 "Make pyreprocess hyperlink in report page open in a new tab"
It'd be nice to make the pyreprocess hyperlink (when the logo is clicked) in report page open in a new tab

[2015-10-08 08:55] estheryclin opened #168 "Multiple issues with tsdiffana thumbnails"
* One of the thumbnails (ylabel= scaled mean ...) says "Average signal over each volume. A large drop/peak (say 5 %) indicates and artefact". But it's not evident how one is to read 5% from the figures.
* Another thumbnail (ylabel = max/mean/min  slice variation ...) has different curves plotted in different colors, but it's not clear what the colors mean (add a legend ?). This remark pretty much

[2015-10-08 09:02] estheryclin opened #169 ""Execution log" link in normalization thumbnails (both anat and func) seems broken"
"Execution log" link in normalization thumbnails (both anat and func) seems broken.

Opened with @dohmatob

[2015-10-08 09:11] dohmatob opened #170 "SPM output should be displayed progressively on the screen"
`spm.set_default_terminal_output("stream")` ?

[2015-10-08 11:13] dohmatob commented on #169
Looks like the issue is caused by spaces in filename.

[2015-10-13 07:35] bthirion opened #172 "Replace nipy dependency with nistats"
Ship the (light-weight, pure Python) nistats code into pypreprocess.
Note tyhat this adds a dependency on pandas

[2015-10-13 11:13] bthirion opened #173 "generate_coregistration_thumbnails requires holding all fmri data in memory"
Which is too demanding: 6 runs of shape 128 * 128 * 84 * 315 break the 16GB memory of my desktop computer. Since we only need the average EPI volume , we can certainly avoid this.

[2015-11-03 16:57] mrahim opened #175 "Pure python pipeline example is broken"
Although we don't use often pure python functions, the code should be refactored.
We should also take into account nilearn's check_niimg functions.

[2015-11-13 14:05] mrahim commented on #172
Basically, we should replace `design_matrix`, `Paradigm`, `glm`, and some functions that exist in nilearn (e.g. : `intersect_mask`).

[2015-11-13 15:00] dohmatob commented on #172
I don't mind depending on pandas since pypreprocess is all about big data :)

[2015-11-18 07:55] mrahim opened #176 "Where preprocessing outputs should be saved ?"
I'm wondering what is the best way to set the output paths when running the examples.
Actually three options exist in the examples, I think we should unify according to one strategy:
- `/tmp` : Not very intuitive.
- script folder : it can be limited by user quota for example.
- data folder : we might have issues if data folders are read-only.

Comments are welcome. @lesteve @GaelVaroquaux @bthirio

[2015-11-18 09:13] GaelVaroquaux commented on #176
This one. At least users are more likely to see this.

[2015-11-21 14:32] dohmatob opened #178 "Unhelpful error when running examples from root directory"
In the root directory of pypreprocess, running the

`python examples/easy_start/nipype_preproc_spm_auditory.py` produces the following error:

  File "examples/easy_start/nipype_preproc_spm_auditory.py", line 44, in <module>
    subject_data = do_subjects_preproc(jobfile, dataset_dir=dataset_dir)[0]
  File "/home/elvis/.local/lib/python2.7/site-packages/pypreprocess/nipype_preproc_spm_utils.py", l

[2015-12-07 18:55] bthirion opened #179 "Output image names in reports includes spaces"
Which makes it difficult to (re-)use them

[2015-12-08 07:52] mrahim commented on #179
The filenames are :
* `anatomical image_on_mean functional image_outline.png`
* `mean functional image_on_anatomical image_outline_axial.png`
* `mean functional image_on_anatomical image_outline.png`
* `subject_tpms_contours_on_subject_anatomical image_axial.png`
* `subject_tpms_contours_on_subject_anatomical image.png`
* `subject_tpms_contours_on_subject_mean functional image_axial.png`
* `subjec

[2015-12-09 14:43] #179 closed

[2016-01-25 16:55] chrplr opened #181 "in ini files, cannot use mutliple wildcards for a list of files"
something like

      subjects_dir = sub01* sub02*

will not work

[2016-01-25 17:12] dohmatob commented on #181
This is not intended to work. Why not just do sub* ?

On Mon, Jan 25, 2016 at 5:55 PM, Christophe Pallier <
notifications@github.com> wrote:

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-01-25 17:16] AlexandreAbraham commented on #181
@chrplr, the syntax used here is globbing. You can learn more here: https://en.wikipedia.org/wiki/Glob_%28programming%29

What you want is `sub0[12]*`.

[2016-01-25 18:38] chrplr commented on #181
Why not consider that the argument of 'subjects_dirs' is a *list of
patterns* for globbing?
The behavior would be the same as on any standard shell command line where
each pattern is expanded.
Would this cause any trouble?  I do not think so (?).

Now, here is what lead me to this:

@Elvis

       subjects_dirs = sub*

crashed with an 'Out of Memory', so I had to split the ini file into
several in

[2016-01-25 19:08] dohmatob commented on #181
OK, the use case of @chrplr is perfectly legit, and should it be straight-forward to implement a fix. I'll allocate time to do this asap. Anybody else should feel free to submit a PR. You simply need to change this line https://github.com/neurospin/pypreprocess/blob/master/pypreprocess/conf_parser.py#L294, and add an appropriate test in `pypreprocess/tests/test_conf_parser.py`.

[2016-01-26 07:56] dohmatob commented on #181
@chrplr: To check that the above PR solves your problem, you'd do something like:

[code]
and then check that `subjects` has the expected length and contents.

[2016-02-05 15:25] mrahim opened #186 "Clean temporary output items (tmp, joblib ...)"
This seems to me as a recurrent task after finishing a preprocessing pipeline.
Usually the dataset size is divided by 4  (depends on the pipeline).
We could imagine a similar function to what we have in [`continuous_integration/clean_output.sh`](https://github.com/neurospin/pypreprocess/blob/master/continuous_integration/clean_output.sh).

[2016-02-05 17:12] dohmatob opened #187 "NewSegment execution branch broken: images are smoothed more than once!"
.. pending desc

[2016-02-08 07:04] chrplr opened #189 "spm_mcr variable in .ini not taken into account"
Although I put

spm_mcr = /i2bm/local/bin/spm12

in an ini file, the spm8 mcr was used

[2016-02-08 07:15] chrplr opened #190 "seems like slice timing was started even if not requested (or maybe just a normal message?)"
Although the .ini (attached) contains the following option to disable slice timing:

-----
     # Don't you want us to do Slice-Timing Correction (STC) ?
     disable_slice_timing = True
----

pypreprocess printed the following on stdout:

[Memory] Calling pypreprocess.time_diff.multi_session_time_slice_diffs...
multi_session_time_slice_diffs([ '/media/mfabre/fmri_language/Syntmov/processed_fmri_d

[2016-02-08 07:39] bthirion commented on #190
This is not slice timeing correction, but tsdiffana, attol used to check the presence of artefacts in the data.

[2016-02-08 07:42] chrplr commented on #190
Oops. Thanks. Sorry for the false alarm.

[2016-02-08 07:42] #190 closed

[2016-02-16 17:04] bthirion opened #191 "the images output by preprocessing pipelines should be gzipped"
The current pipeline is very greedy in memory.

[2016-02-16 19:04] mrahim commented on #191
I think SPM (still) doesn't read `nii.gz` files.

[2016-02-16 20:54] bthirion commented on #191
But then this could be an option. I only use SPM for pre-processing (and so do many people who work on RS data). When writing to disk the cached outputs, there could be an option to gzip the output.

[2016-02-17 13:34] mrahim opened #192 "Update README.rst"
For example, dependencies should be updated, as we are no longer using nipy.

[2016-02-22 15:38] dohmatob opened #193 "fsl_to_nistats: in make_paradigm_*, condition_ids returned instead of _condition_ids"
fsl_to_nistats: in make_paradigm_*, condition_ids returned instead of _condition_ids + other bugs.

[2016-02-25 09:56] arthurmensch opened #194 "Pandas should be added to requirements"
[code]

[code]

[2016-02-25 10:01] arthurmensch opened #195 "Max recursion reached when trying to download spm auditory data"
[code]

Related to nistats/nistats#61

[2016-02-25 14:31] bthirion commented on #194
Could you take care of this ?
Thx !

[2016-02-26 09:27] dohmatob opened #198 "pypreprocess logo was plagiarized from the net. This is dangerous, we should make ours."
pypreprocess logo was plagiarized from the net. This is dangerous, we should make ours!

[2016-02-26 10:23] AlexandreAbraham commented on #198
Ça va dans le bon sens!

You should ask on the Neurospin list, we have some designers out of the common in it.

[2016-02-26 10:39] bthirion commented on #198
Just curious: does any remember whether the Nilearn logo is protected ?

[2016-02-26 10:59] dohmatob commented on #198
From first sight, it logs very close to nipy / nipype logo, with some
colors flipped.

On Fri, Feb 26, 2016 at 11:39 AM, bthirion <notifications@github.com> wrote:

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-04-21 07:22] mmayolini opened #200 "examples/easy_start/spm_auditory_preproc.ini : Syntax Error"
Hi everyone,

When I try to execute the command from "Getting started" part of README ("cd examples/easy_start", then "python spm_auditory_preproc.ini"), I get the following error :

File "spm_auditory_preproc.ini", line 57
    subject_dirs = sub*

Do you have any solution to solve the problem ?

[2016-04-21 07:40] dohmatob commented on #200
Hi there,

Thanks for reporting this. Ah, that was a mis-print. We intended to type

`python nipype_preproc_spm_auditory.py`

I've corrected the Readme file. Please could you confirm that the problem goes away. Thanks.

[2016-04-21 07:50] mmayolini commented on #200
I get a "RunTimeError : Failed to configure SPM!", but I think it's a problem about my configuration, so the initial problem is corrected I guess.

[2016-04-21 08:07] dohmatob commented on #200
There are two cases:
* If you have matlab and spm installed, then specify the location of your spm installation directory like so

`export SPM_DIR=/path/to/spm/installation/dir`

* if you've installed a pre-compiled version of SPM (see Readme file) then, specify the location of the spm executable like so

`export SPM_MCR=/path/to/spm_mcr_script`

These variables are consumed by the `pypreprocess/c

[2016-04-21 08:17] mmayolini commented on #200
Well, I'm in the first case you mentioned and I currently have the following line in my .bashrc file :
"export SPM_PATH=/usr/local/spm12/"

So I suppose I had to run "export SPM_DIR=/usr/local/spm12/" in my terminal, then try again "python nipype_preproc_spm_auditory.py" in "examples/easy_start", but the bug remains, so I may have done something wrong...

[2016-04-21 12:27] mmayolini commented on #200
Here is the full traceback :

/home/neuro/anaconda2/lib/python2.7/site-packages/matplotlib/__init__.py:1350: UserWarning:  This call to matplotlib.use() has no effect
because the backend has already been chosen;
matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

  warnings.warn(_use_error_msg)
/home/neuro/.local/lib/python2.7/

[2016-04-27 08:41] dohmatob commented on #200
@mmayolini:  I'll make time and get back to this. I think we could make the configuration of the SPM and matlab more robust and user-friendly process. In principle, we can evade such errors backend.

[2016-04-27 08:51] mmayolini commented on #200
@dohmatob : thanks for the reply ! No problem, I'll wait the time you need.

[2016-05-04 12:17] bthirion opened #202 "Input images should not be copied to result directory"
whan running SPM preprocessing analysis, input images get copied to the output directory, which represents a wast of disk space.

[2016-05-04 12:18] bthirion opened #203 "Cache locations should be configurable by users"
As cache size can be come huge.

[2016-05-04 12:20] bthirion opened #204 "Integration of topup is desired"
As this is currently the most reliable procedure to correct for EPI distortions.

[2016-05-04 12:24] bthirion opened #205 "subject_data contains links to the cache"
while it should contain only paths of database locations.

[2016-05-04 13:56] dohmatob commented on #203
For reference, there is a `scratch` param in `SubjectData`. The idea would be to make this point to a such a separate device for storing the cache.

[2016-05-25 14:14] mrahim opened #206 "Wrong plots in auditory example report"
Some output plots are weird (e.g.: coreg, tsdiffana).

https://circle-artifacts.com/gh/mrahim/pypreprocess/208/artifacts/0/home/ubuntu/nilearn_data/spm_auditory/pypreprocess_output/report_preproc.html

[2016-05-26 08:48] mrahim commented on #204
I think FSL implementation should be used.
http://nipy.org/nipype/interfaces/generated/nipype.interfaces.fsl.epi.html

[2016-05-26 08:51] mrahim commented on #205
Could you be more specific ?

[2016-05-26 12:12] alpinho commented on #192
This issue has been fixed by PR#199 and it should be closed.

[2016-05-26 12:40] #192 closed

[2016-05-26 12:40] #194 closed

[2016-05-26 14:50] mrahim commented on #202
This happens only when your inputs are `.nii.gz` because SPM wants only ``.nii``.
Anyway, it's bug. We should remove this uncompressed file from output directory.

[2016-05-26 19:46] dohmatob commented on #206
Especially [these](https://circle-artifacts.com/gh/mrahim/pypreprocess/208/artifacts/0/home/ubuntu/nilearn_data/spm_auditory/pypreprocess_output/sub001/reports/report_preproc.html). I just had a quick look, at it seems a step (realign ?) of the preprocessing producess nans in the data.

[2016-05-26 20:09] dohmatob commented on #206
OK, the problem appears to come from the Realign node.

[2016-05-26 20:12] dohmatob commented on #102
off-topic.

[2016-05-26 20:12] #102 closed

[2016-05-26 20:27] dohmatob commented on #181
No feedback, closing.

[2016-05-26 20:27] #181 closed

[2016-05-26 20:33] dohmatob commented on #143
I don't see how to do this without setting up a database, etc?, what we want to avoid by all means.

[2016-05-26 20:37] dohmatob commented on #144
@mrahim: any updates ?

[2016-05-26 20:39] dohmatob commented on #120
Fixed.

[2016-05-26 20:39] #120 closed

[2016-05-26 20:44] dohmatob commented on #172
nipy ==> nistats successfully. Closing.

[2016-05-26 20:44] #172 closed

[2016-05-26 20:46] KamalakerDadi commented on #200
I am on this.

[2016-05-26 20:59] dohmatob commented on #200
OK, thanks.

[2016-05-26 21:01] KamalakerDadi commented on #133
@dohmatob You already made a PR I see? What is still lacking here ?

[2016-05-26 21:04] dohmatob commented on #133
Maybe a small unit test ?

[2016-05-26 21:07] KamalakerDadi commented on #133
unit test on pypreprocess dependencies ?

[2016-05-26 21:16] dohmatob commented on #133
Sorry for the imprecision. I meant a small unit test to check that the version issue raised here is solved.

[2016-05-27 07:17] mrahim commented on #191
I'm on it.

[2016-05-27 07:18] dohmatob commented on #203
Related to issue #191

[2016-05-27 07:29] dohmatob commented on #206
**Update:** It seems the issue is that SPM produces NaNs, in any case. tsdiffana should do nanmean, nanstd, etc., instead of mean, std, etc. to be robust to this.

[2016-05-27 07:34] bthirion commented on #186
Related to #203. Closing.

[2016-05-27 07:34] #186 closed

[2016-05-27 07:38] bthirion commented on #176
Looks like we agree. Closing.

[2016-05-27 07:38] #176 closed

[2016-05-27 08:04] KamalakerDadi commented on #200
I felt this is a documentation issue. So, a fix in #208

[2016-05-27 08:06] AlexandreAbraham commented on #143
The problem is that, for security reasons, you cannot access the hard drive from the web report, unless you have a server behind. A poor man's method could be to allow the creation of a `comment.txt` file in the directory of the subject (or in a dedicated folder) and let people write in it. This is not convenient but it easy to code (load an optional txt file).

[2016-05-27 08:11] AlexandreAbraham commented on #151
If agreed, I can take care of it.

[2016-05-27 08:14] MartinPerez commented on #143
I was checking the mne reporting tool, they have a self contained html that can be passed around, maybe the same object that creates this report can load it back from the html and then add text to a particular section with a method. So it could be done in ipython? I am checking now the mne reporting too see how they do things.

[2016-05-27 08:16] MartinPerez commented on #143
I was not thinking of a public collaborative tool or something that has to work online. More of an utility for the researcher actually running the preprocessing/analysis.

[2016-05-27 08:17] MartinPerez commented on #204
I can take care of this. I already have the nipype implementation in my pipeline.

[2016-05-27 08:18] AlexandreAbraham commented on #167
-1 on this. FIrst, this is impossible as there is no technical way to force opening a page in a tab. We can only force a new window. Second, this is a user decision whether to open it in a tab or in the same page. Finally, this behavior is highly incompatible with modern systems such as smartphones. The case of forcing the page to open in a new window is not very well handled.

[2016-05-27 08:20] MartinPerez commented on #144
I am checking the mne reporting tool to see how they handle things. Maybe a common mne/pypreprocess/nistats general underlying reporting tool would be desirable? And then factor this out of pypreprocess?

[2016-05-27 08:22] MartinPerez commented on #109
This issue should be closed... also openfmri should be discarded for bids.

[2016-05-27 08:23] AlexandreAbraham commented on #198
It is a mix of nipy logo with scikit learn. Given that it is not an existing logo, I guess that we are not in trouble.

[2016-05-27 08:44] dohmatob opened #210 "Travis CI fails intermittently due to file not found"
It says, ```IOError: [Errno 2] No such file or directory: '/tmp/titi/func/3.hdr'```

[2016-05-27 08:49] dohmatob commented on #109
OK, closing.

[2016-05-27 08:49] #109 closed

[2016-05-27 08:53] AlexandreAbraham commented on #173
According to the code, the first volume is used, not the mean. Also, from what I see in the code, each file is loaded for the plotting and then discarded so it should not stay in memory.

I can try to investigate this one. Does somebody have piece of code to reproduce?

[2016-05-27 08:54] AlexandreAbraham commented on #175
This one seems doable to me, plus there is "nilearn" in the description.

[2016-05-27 09:02] chrplr opened #211 "proposal for slice timing correction"
Currently there is a 'slice_order' variable which specifies the slice order and is applied to all functional files.

To handle more complex cases (e.g. multiband acquisition), we can pass individual slice timings (in millseconds), as well as a reference time (in millisec). SPM12 slice timing correction handles this (see below).

Maybe (?), in cases where there are different slice timings for diffe

[2016-05-27 09:19] isadenghien commented on #189
Yes I had the same beharviour. If SPM_MCR for SPM12 is not a environment variable on your system, and if you add this value into the config.ini file.
So pypreprocess doesn't read it and uses the default value for SPM8.
But if SPM_MCR  is SPM_MCR="/usr/local/bin/spm12" for instance in your bashrc, it works.

[2016-05-27 09:45] bthirion commented on #211
This sounds good. My comment is that in 95% of the cases, the slice order is fixed across sessions, hence could be fixed one and for all.
So, the session_XXX_slice_order specification should not be required, but only taken into account when provided.

Also, i would first enforce SPM12 convention on slice timing specification before adding session-specific slice order.

[2016-05-27 11:04] arthurmensch opened #215 "delete_orientation should use nibabel"

[2016-05-27 11:21] dohmatob commented on #215
duplicate of issue #15. Closing.

[2016-05-27 11:21] #215 closed

[2016-05-27 11:40] KamalakerDadi opened #219 "Makefile should be edited to remove doc tests which doesn't exists"
nosetests -s --with-doctest --doctest-tests --doctest-extension=rst \
--doctest-extension=inc --doctest-fixtures=_fixture doc/ \

```Failure: OSError (No such file /home/kamalakar/Kamalakar/work/pypreprocess/doc) ... ERROR```

[2016-05-27 11:41] chrplr commented on #211
Here is a short python to extract timing information from dicom files (thanks to Martin Perez)

#! /usr/bin/env python

from __future__ import print_function
import os
import glob
import dicom
import sys

try:
    dicom_path = sys.argv[1]

    if os.path.isdir(dicom_path):
        dicom_ref = sorted(glob.glob(os.path.join(dicom_path, '*.dcm')))[4]
    else:
        if (os.path.isfile(dicom_path)):

[2016-05-27 11:45] arthurmensch commented on #205
Should we remove cache from output ?

[2016-05-27 12:16] KamalakerDadi commented on #210
I am not sure I get this issue. Can you a bit more explicit ?

For me file exists, ```/tmp/titi/func/3.hdr```

[2016-05-27 12:18] arthurmensch commented on #210
I think this is because one of the test function is badly written and writes twice the same data, which creeps travis out. I tried to address it in next PR

[2016-05-27 12:23] dohmatob commented on #205
I am unable to reproduce this issue. Ping @bthirion.

[2016-05-27 12:27] AlexandreAbraham commented on #31
My proposition to solve this issue
* Test if the browser supports HTML5 stuff (which is the case of latest version of chrome). In that case, use `<link rel="import" href="design.html">`
* As fallback, keep the jquery stuff but change the message to tell the user to run `chromium-browser --allow-file-access-from-files`, which works.

If that's OK, I'll do the PR.

[2016-05-27 12:38] KamalakerDadi commented on #219
I don't think it is so important since we can run test using ```make test-code``` where this problem doesn't persists. If agrees we can close or ?

[2016-05-27 12:39] #195 closed

[2016-05-27 12:53] dohmatob commented on #167
@estheryclin: Thanks for reporting this. As @AlexandreAbraham points out, apparently, it looks like it's a user's decision to take. So, lemme close this for now.  Reopen it if you have an objection :)

[2016-05-27 12:53] #167 closed

[2016-05-27 13:00] bthirion commented on #206
Regarding the coreg plots, the issue is actually in Nilearn (see issue #1105) and should be handled there. Closing.

[2016-05-27 13:00] #206 closed

[2016-05-27 13:01] dohmatob opened #223 "URGENT: The back-bone of pypreprocess is not tested."
The module nipype_preproc_spm_utils.py` which contains the main logic of pypreprocess is worth about **2K** lines of code, but is worth exactly **0%** coverage. This is a serious issue.

The roadmap for fixing this should be
- Modularly factorize the file into separate files
- Write test cases to the it.

[2016-05-27 13:18] bthirion commented on #205
I get the issue when running the  `nipype_preproc_spm_auditory.py` example.
`subject_data['gm'] ` points to the cache.
This may be related to the use of NewSegment ?

[2016-05-27 13:18] isadenghien opened #224 "Nistats used by examples seems to be embedded in pypreprocess"
For example, the spm auditory examples reads:
[code]

[2016-05-27 13:19] bthirion commented on #31
That would be great I think.

[2016-05-27 13:21] AlexandreAbraham commented on #198
Mehdi exhorted me to share this experiment

![snakepixel](https://cloud.githubusercontent.com/assets/1647301/15609167/b92dee00-241e-11e6-9bc3-360f8be68481.png)

[2016-05-27 13:30] bthirion commented on #224
This is because nistats has not been released.

[2016-05-27 13:33] chrplr commented on #211
For info: I have put an example dataset (just one EPI session, both in dicom and nifti format) on the www.nitrc.org website. It is available at the link:

        https://www.nitrc.org/frs/download.php/9029/epi-example-dicom.tar.gz

Note: This tarball also contains an ini file with the slice times. This can be used as a testbed for slice timing correction. Todo: integrate as an example of an *.ini

[2016-05-27 13:35] alpinho commented on #198
Whooh, this is a good idea. I like it! We can explore this concept.

[2016-05-27 13:44] alpinho commented on #198
Like in nilearn logo, we can have the word pypreprocess divided in two lines: py (on the top) and preprocess in the (bottom). The prefix pre- should also be emphasize. Not sure whether I like the logo in greyscale.

[2016-05-27 13:50] AlexandreAbraham commented on #198
The nilearn logo is inspired from the sklearn one. We should maybe not copy the style of the logo for pypreprocess given that it is not sklearn based.

You can propose colors and I will apply them :)

[2016-05-27 13:56] alpinho commented on #198
We should also recall SPM here, since it is highly used. What about red, blue and white, which is also the french flag colours.

[2016-05-27 14:00] KamalakerDadi commented on #175
@mehdi this is what you are pointing at ?
Traceback (most recent call last):
  File "pure_python_preproc_demo.py", line 16, in <module>
    tsdiffana=True, realign=True, report=True, reslice=True)
  File "/home/kamalakar/Kamalakar/work/pypreprocess/pypreprocess/purepython_preproc_utils.py", line 281, in do_subject_preproc
   ``` n_sessions = len(subject_data.session_ids)```
```TypeError: object of

[2016-05-27 14:06] mrahim commented on #211
In `SPM12`, `Nipype` can take slice timepoints in milliseconds instead of slice order.
This does not change anything in the  API. We can set it in `slice_order` of the `config.ini` file.

[2016-05-27 14:07] dohmatob commented on #198
On Fri, May 27, 2016 at 3:56 PM, Ana Luísa Pinho <notifications@github.com>
wrote:

No, the logo should not have a rainbow color gradient indicaticating every
possible dependency (like in the IBC logo...). We just want a basic
beautiful logo that reprensents pypreprocess alone.

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https:

[2016-05-27 14:08] dohmatob commented on #198
On Fri, May 27, 2016 at 4:07 PM, Elvis Dohmatob <gmdopp@gmail.com> wrote:

should'nt have*

—

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-05-27 14:22] dohmatob commented on #198
Cool. This looks great.

On Fri, May 27, 2016 at 3:21 PM, Alexandre Abraham <notifications@github.com

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-05-27 14:23] KamalakerDadi commented on #128
With @arthurmensch, it seems like we will not be able to do Python 3 compatible since we have huge dependency in nipype and nipype is not well organized to Python 3. So, we can close this issue if you want.

[2016-05-27 14:26] dohmatob commented on #224
OK, I almost forgot about this was the reason. Closing.

[2016-05-27 14:26] #224 closed

[2016-05-27 14:29] dohmatob commented on #128
OK, Closing.

[2016-05-27 14:42] AlexandreAbraham commented on #128
Sorry to shatter your dreams, Nipype does support Python 3. Back to work guys :smiling_imp:

[2016-05-27 14:59] mrahim commented on #210
PR Merged. Closing.
Thanks !

[2016-05-27 14:59] #210 closed

[2016-05-27 15:05] KamalakerDadi commented on #205
yes, problem with NewSegment

[2016-05-27 16:11] mrahim commented on #205
I'm on it.

[2016-05-27 16:16] mrahim commented on #133
I think we can close this.

[2016-05-27 16:16] #133 closed

[2016-05-27 16:18] dohmatob commented on #219
Fixed.

[2016-05-27 16:18] #219 closed

[2016-05-27 16:21] #15 closed

[2016-05-27 16:26] bthirion commented on #200
@mmayolini , can we close the issue ?

[2016-05-27 16:27] dohmatob commented on #203
Fixed.

[2016-05-27 16:27] #203 closed

[2016-05-27 19:09] mrahim commented on #205
A final `hard_link` is missing in `do_subjects_preproc`.
Tricky to find but easy to fix.

[2016-05-27 19:28] KamalakerDadi commented on #205
Great @mrahim

[2016-05-31 11:28] isadenghien commented on #211
Hi,
I've tried to use slice_order with slice in time. I used the slice_order into the config.ini like this:

[code]

But it failed with this kind of message:
[code]

I suppose that pypreprocess uses these values like number of slice and not in time.
I updated all packages like traits, nipy and nipype.
Perhaps something is wrong in my config.ini ? Or the slice_order is not taken into account with v

[2016-05-31 11:41] mrahim commented on #211
There is an assert to check whether `slice_order` values are less than the total number of slices.
So we need to consider this case if we want time slice instead of slice order.

[2016-06-01 07:22] chrplr commented on #211
I could advance a somewhat extremist proposal, that is, to force the user enter slice timings in msec in all cases.

My experience is that keywords like ascending, intererleaved (coming from SPM usage) can be confusing for some users, and I have indeed had students making mistakes.
Also, about hte use of sequences of number to specify the order, I am not sure about what happens if we reuse the sam

[2016-06-01 08:43] chrplr commented on #211
To further test slice timing algorithms, I have created an image file with sinewave timeseries with different phases along z.

See nifti/sinewave.nii in  https://www.nitrc.org/frs/download.php/9035/epi-example-dicom.tar.gz

[2016-06-01 10:00] dohmatob opened #232 "Possible bug in slice_order param computed and passed to SPM."
Output of line ![75](https://github.com/neurospin/pypreprocess/blob/master/pypreprocess/slice_timing.py#L75) is passed to SPM in (`_do_subject_stc` function), but SPM already does a similar computation internally. Thus this is done twice. A bug.

[2016-06-01 12:53] #200 closed

[2016-06-01 21:17] bthirion commented on #211
You're probably right, but we cannot break the compatibility with SPM8...

[2016-06-07 09:57] chrplr opened #234 "cache is not relocatable"
pypreprocess.py crashed after filling up the filesytem where I had put the cache with the 'scratch' option.

Rather than starting again from scratch (!), I decided to move the cache to a new location and modify the scratch variable accordingly.

Yet, relaunching pypreprocessed crashed because it could not find tone of the original functional file (it was searching for it in the cache rather than i

[2016-06-15 12:47] chrplr commented on #211
A quick hack of nipype_preproc_spm_utils.py to run spm12 slice timing with 'slice_order' variable set as a list of times of acquisition in millieconds. Seems to run, but needs to be tested on a synthetic data set.  Need to cleaning and check that is does not break spm8.

[code]

[2016-06-15 20:52] bthirion commented on #211
This is almost a PR ;-)
The only daunting part is to check/enforce SPM8 compliance

[2016-06-17 11:43] chrplr opened #236 "looks like the full content of the cache is systematically recopied to the output dir"
When pypreprocess.py is interrupted, when restarted, it apprently copies the cahced files again (which can take hours for a large studiy and when the cache is on a different fs than the output)

[2016-06-19 10:43] #205 closed

[2016-06-19 10:46] #187 closed

[2016-06-19 10:48] dohmatob commented on #169
This looks like a die-hard zombie.

[2016-06-19 10:48] #169 closed

[2016-06-19 10:49] dohmatob commented on #189
@isadenghien: if you re-pull, re-install, and re-run this should now be fixed. Please can you confirm ?

[2016-06-19 11:01] #178 closed

[2016-06-19 13:21] #232 closed

[2016-06-19 19:44] dohmatob commented on #234
@chrplr I don't see how you can relocate cache and resume a computation (i.e without recomputing stuff). The jobfiles embedded in the cache directory contain MD5-tagged absolute paths to intermediate input / out files. You'd need to appropriately change all these hashes, which is simply not possible.

[2016-06-20 01:58] dohmatob commented on #236
Fixed by PR #240

[2016-06-20 01:58] #236 closed

[2016-06-20 06:21] chrplr commented on #234
Ok. Got it.

Yet, remark that in my case, the source files (dataset_dir) has not changed location, I had just moved the cache. And the outcome was a crash of pypreprocess, rather than just a recomputation from the beginning.

[2016-06-20 08:23] dohmatob commented on #189
OK, I got confirmation. Closing.

[2016-06-20 08:23] #189 closed

[2016-06-22 14:58] dohmatob commented on #198
Can someone suggest a PR with the above logo ? It'd be gr8. Thanks in advance.

[2016-08-09 09:02] darya-chyzhyk opened #246 "deleteorientation bug"
When "deleteorient = True" there is an error:

...........................................................................
/usr/lib/python2.7/dist-packages/IPython/**init**.py in start_ipython(argv=None, *_kwargs={})
    113     kwargs : various, optional
    114         Any other kwargs will be passed to the Application constructor,
    115         such as `config`.
    116     """
    117     fr

[2016-08-09 09:06] AlexandreAbraham commented on #246
This is very weird. Can you run this in your terminal?

`python -c 'import nibabel; print(nibabel.__version__)'`

[2016-08-09 09:07] mrahim commented on #246
`1.3.0`

[2016-08-09 09:14] AlexandreAbraham commented on #246
In version 1.3, the header is `img._header` and not `img.header`.

A safe workaround is to use `img.get_header()`.

[2016-08-09 09:15] dohmatob commented on #246
+1. Somebody wants to take on this ?

On Tue, Aug 9, 2016 at 11:14 AM, Alexandre Abraham <notifications@github.com

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-08-09 09:16] dohmatob commented on #246
The deletete_orientation function has to be rewritten from scratch. It
looks horrible, and can break in a 1000 different ways.

On Tue, Aug 9, 2016 at 11:15 AM, Elvis Dohmatob <gmdopp@gmail.com> wrote:

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-08-09 09:17] AlexandreAbraham commented on #246
#ResearchCode

[2016-08-09 09:32] AlexandreAbraham commented on #246
@dohmatob the function does not seem that bad to me... Can you be more precise?

[2016-08-09 09:48] dohmatob commented on #246
Mainly design issues.

- We want to work with more general nifti-likes as input
- Obligatory output_dir arg seems a bad idea
- other stuff ?
Basically, the function should simply delete the orientation meta data and
return the output image. The whole output file logic should ideally be
removed.

N.B.: I understand that who ever implemented this function inherited from a
very bad code base from me.

[2016-09-08 15:41] dohmatob opened #250 "URGENT: Master broken !"
circle-ci says

[code]

[2016-09-12 09:34] mrahim commented on #250
This is related to the backend when importing `matplotlib.pyplot`.
In `examples/easy_start/nipype_preproc_spm_auditory.py`, `matplotlib.pyplot` is imported before setting the backend.
Everything is okay when doing it after `mpl.use('Agg')` (that is in `__init__.py`)

https://circleci.com/gh/mrahim/pypreprocess/232

[2016-09-12 10:36] dohmatob commented on #250
OK, thanks for the autopsy. PR ?

On Mon, Sep 12, 2016 at 11:34 AM, mrahim <notifications@github.com> wrote:

--
Elvis Dohmatob,
*sent from my  potato...*
http://dohmatob.blogspot.fr/, https://team.inria.fr/parietal/elvis/,
https://github.com/dohmatob

[2016-09-12 12:41] #250 closed

[2016-09-12 14:07] #234 closed

[2016-09-18 20:15] bthirion commented on #173
Solved by #249. Closing

[2016-09-18 20:15] #173 closed

[2016-09-19 13:32] #191 closed

[2016-09-19 16:19] dohmatob opened #252 "STC log not included in report page"
The subject-level report pages are missing logs for STC. All other nodes seem to be logged correctly.

[2016-09-23 09:50] estheryclin opened #254 "Update the probabilistic maps for the Segmentation?"
Because we have had issues that data of two subjects cannot be segmented correctly.
We found that pypreprocess is using the probabilistic maps for SPM8
'/i2bm/local/spm12/toolbox/OldSeg/grey.nii',
'/i2bm/local/spm12/toolbox/OldSeg/white.nii',
'/i2bm/local/spm12/toolbox/OldSeg/csf.nii'

When we tried with the latest probabilistic maps for SPM12, it solved our problems.
/i2bm/local/spm12/tmp/TMP.nii

[2016-09-23 10:01] mrahim commented on #254
Actually "OldSeg" in spm12 (equivalent to "Segment" in spm8) needs grey/white/csf.nii to carry the segmentation.
"Segment" in spm12 (equivalent to "NewSegment" in spm8) needs TPM/tpm.nii.

Could you copy/paste your script ?

[2016-09-23 10:10] estheryclin commented on #254
You mean the MATLAB code for the step Segment?
Below it is.

-----
stage = stage + 1;
stage_segmentation = stage;

matlabbatch{stage}.spm.spatial.preproc.channel.vols = {anatfile };
matlabbatch{stage}.spm.spatial.preproc.warp.write = [0 1];
matlabbatch{stage}.spm.spatial.preproc.channel.biasreg = 0.001;
matlabbatch{stage}.spm.spatial.preproc.channel.biasfwhm = 60;
matlabbatch{stage}.spm.spatial.pr

[2016-09-23 10:19] mrahim commented on #254
Well, I was expecting pypreprocess script :)

Anyway, this looks like Segment in spm12 which uses tpm.nii

In pypreprocess, if you do `newsegment = True`  in your config file, it will use spm12 tpms.

[2016-09-23 10:22] estheryclin commented on #254
Yes, I've seen the "newsegment" option in my config file.
I will try it out, thank you!  :)

[2016-10-30 10:14] mrahim commented on #77
I don't know why did we close this ... I'm experiencing the same behavior when I run `NewSegment` in `do_subjects_preproc`. The reason is that all subjects anat are concatenated as `channel_files` and processed once. I'm wondering if we can parrallelize `NewSegment` by taking one anat per `channel_files`.

[2017-01-04 15:13] himito opened #256 "Reading SPM batch files to configure pre-processing"
Hello,

I was wondering if it's possible to load a batch spm file to configure the pre-processing steps.

Thank you in advance.

Jaime

[2017-01-16 17:37] mrahim commented on #198
Closed by #248

[2017-01-16 17:37] #198 closed

[2017-01-16 17:38] mrahim commented on #202
Closed by #222

[2017-01-16 17:38] #202 closed

[2017-01-16 17:54] mrahim commented on #256
Hi Jaime,

It is not possible at this time.

Best,
Mehdi

[2017-01-16 19:10] himito commented on #256
Thank you for your answer!

[2017-01-17 07:37] #256 closed

[2017-01-17 07:48] mrahim opened #259 "CircleCI is broken"
Looks like `configparser` is missing.

Ping @lesteve

[2017-01-17 09:09] #259 closed

[2017-01-17 10:13] dohmatob commented on #157
This has been fixed for a while now. closing.

[2017-01-17 10:13] #157 closed

[2017-01-17 10:54] AlexandreAbraham commented on #246
The neverending issue!

[2017-01-17 10:55] darya-chyzhyk commented on #246
The error appear when using delete orientation option

# Should orientation meta-date be stripped-off image headers ?
deleteorient = True

	 Executing node d703e8c3dea596ceef853fee8927d1f3 in dir: /home/darya/Documents/Inria/data/ADNIDOD_example/results/0006315/cache_dir/nipype_mem/nipype-interfaces-spm-preprocess-Realign/d703e8c3dea596ceef853fee8927d1f3
Traceback (most recent call last):
  File "

[2017-01-17 13:12] jeromedockes commented on #157
how so? i still see hardcoded paths in the files

[2017-01-18 09:04] lesteve opened #267 "Non-deterministic test failure in pypreprocess.tests.test_subject_data.test_not_unique_func_filenames_exception_thrown"
I have seen it from time to time on Travis and CircleCI. Haven't tried to reproduce locally:

[code]

[2017-01-18 09:22] mrahim commented on #267
A duplicate of #210

[2017-01-18 09:22] #267 closed

[2017-01-18 09:35] chrplr opened #268 "local variable 'linked_filename' referenced before assignment"
[code]

[2017-01-19 07:33] lesteve commented on #210
I debugged this further, and there is a problem in `_make_sd` when `func_filenames` has nested lists. I lack domain knowledge to understand what this function does, but here is the code and look at the comment inside for the explanation of where it goes wrong:

[code]

[2017-01-20 08:57] #128 closed

[2017-01-20 10:19] dohmatob opened #269 "nistats version outdated"
`pypreprocess.externals.nistats` is should be updated. Note that we keep a local copy of this report because the project hasn't been yet released...

[2017-04-16 00:45] chrisfilo opened #271 "UnicodeDecodeError"
[code]

[2017-04-16 00:57] chrisfilo opened #273 "TypeError: slice indices must be integers or None or have an __index__ method"
[code]

[2017-04-16 01:11] chrisfilo commented on #273
This error goes away when I use:

`mc = MRIMotionCorrection(quality=1.0)`

[2017-04-16 14:58] chrisfilo commented on #273
This bug is also making tests on master fail:

[code]

It must be caused by some API breaking dependency update...

[2017-04-18 20:45] #273 closed

[2017-05-05 07:37] agramfort opened #279 "pb coreg"
I gave a try to Coregister using T1 MRs with:

[code]

and I get

[code]

if I pass:

[code]
I have a the same problem.

is it a version problem?

[2017-05-05 07:45] mrahim commented on #279
Yes it is related to nibabel version. I'll fix it.

[2017-05-05 11:43] mrahim commented on #279
@agramfort  which nibabel version are you using ?

[2017-05-05 11:56] agramfort commented on #279
2.2.0.dev

my master was from last september but it's still broken with current master

[2017-06-04 14:07] #279 closed

[2017-11-23 06:34] CherkaouiHamza opened #282 "**newsegment = True** option in .ini failed in preprocess"
Using newsegment = True in my .ini gave me:

[code]

[2018-01-10 11:42] CherkaouiHamza opened #283 "Remove Nistats shipping and create a dependence on its lastest version."
All in the title: currently pypreprocess has it own outdated nistats version.
It mights be better to simple create a dependence on the lastest version of nistats.

[2018-01-18 13:23] dohmatob opened #284 "Potential bug in spm12 support"
RuntimeError: Command:
/home/darya/opt/spm12/spm12.sh run script /home/darya/nilearn_data/spm_auditory/pypreprocess_scratch/sub001/cache_dir/nipype_mem/nipype-interfaces-spm-preprocess-Realign/f88b87ecd077003e5f5c505156a0c508/pyscript_realign.m
Standard output:
Warning: "Run" is deprecated: use "Batch".

SPM12, version 7219 (standalone)
MATLAB, version 7.10.0.499 (R2010a)
 ___  ____  __  __
 / __)

[2018-01-18 13:31] dohmatob opened #285 "slice timing broken in python 3k"
Error
====
[code]

Reproduce with
============
[code]

[2018-01-18 13:39] dohmatob opened #286 "SPM12 download url changed !"
Checkout http://www.fil.ion.ucl.ac.uk/spm/download/restricted/utopia/.

This change also breaks the installation / usage of spm12. Related to issue #284

[2018-01-18 13:44] dohmatob opened #287 "Bug in glm_reporter under python 3"
[code]

[2018-01-26 14:13] KamalakerDadi opened #288 "Error running an examples/easy_start/nipype_preproc_spm_auditory.py with Nipype >=0.13"
[code]

I am currently experiencing problem running this example with more recent versions of Nipype. I can open an issue there to ask.

Meanwhile, please let me know if you know why ?

[2018-01-26 14:15] KamalakerDadi commented on #288
FYI Issue is here https://github.com/nipy/nipype/issues/2406

[2018-01-26 14:23] KamalakerDadi commented on #288
For now, I think we can add a small note in readme document to be cautious of running examples with more recent Nipype versions.

I will issue a PR.

[2018-02-14 08:18] CherkaouiHamza commented on #283
duplicate with #269
Close this issue

[2018-02-14 08:18] #283 closed

[2018-02-14 08:19] CherkaouiHamza commented on #269
I will try to provide a PR for this.
Nistats has been released, so I will remove the local copy and create a dependence on it.

[2018-02-14 08:49] dohmatob commented on #286
Hot fixed. More solid fix in PR #281

[2018-02-14 08:49] #286 closed

[2018-02-14 08:51] dohmatob commented on #288
Ok, thanks for looking into this.

[2018-02-14 10:29] SylvainLan opened #290 "Check libxp6 dependencies installed"
I tried to launch the example example/seasy_start/nipype_preproc_spm_auditory.py after following the steps on the README but got an error about SPM12, I tried to reinstall it and got this message error

When installing spm12 through continuous_integration/install_spm12.sh there is no check of installation of libxp6.

[2018-02-14 10:37] CherkaouiHamza commented on #246
I will try to take a look / reproduce / propose a PR

[2018-02-14 12:37] CherkaouiHamza commented on #287
Probably related to "slice timing broken in python 3k" issue #285, since it seems that pypreprocess is not python 3.5 compliant.

I try to take a look.

[2018-02-14 12:38] CherkaouiHamza commented on #285
More
`ipython3` nipype_preproc_spm_auditory.py --pdb``
I try to take a look

[2018-02-14 13:54] SylvainLan commented on #147
fix authoring coherence #293 should be ignore (wrong git manipulation)

[2018-02-14 14:15] chrplr commented on #254
If we now accept that spm12 is the default, we should not use newsegment=True, but just segment=True, right?

[2018-02-14 15:27] CherkaouiHamza opened #298 "Multiple issue in the pure_python examples"
`python2 coreg_demos.py` or
`python3 coreg_demos.py`
'crash' because the SVD do not converge.

`python2 pure_python_preproc_demo.py` or
`python3 pure_python_preproc_demo.py`

'crash' because of
`Traceback (most recent call last):
  File "pure_python_preproc_demo.py", line 16, in <module>
    tsdiffana=True, realign=True, report=True, reslice=True)
  File "/home/hcherkaoui/src/THESE/pypreprocess/py

[2018-02-14 15:29] chrplr commented on #140
It is probably a bad idea: better to have all the relevant info inside the .ini file.

[2018-02-14 15:29] #140 closed

[2018-02-14 15:30] chrplr commented on #268
Solved by the PR "corrected indentation bug that provoked UnboundLocalError"

[2018-02-14 15:30] #268 closed

[2018-02-14 15:32] chrplr commented on #211
Life gets a bit simpler if we dont enforce SPM8 compliance.
To handle the input as either slice order, or slice times,
One idea is that  two variables could coexist: slice_order and slice_times

[2018-02-14 15:39] CherkaouiHamza commented on #298
related to  #175
But could hide even more bugs...

[2018-02-16 09:09] CherkaouiHamza opened #300 "Make setup.py, README more pypreprocess specific"
'setup.py' currently propose Cython compilation, trailing space removal, etc. Very generic...
'README.rst' seems to have been made from Nilearn's one...

One could want to make them more specific to Pypreprocess

[2018-02-16 09:14] bthirion commented on #300
Yep, that's an easy one.

[2018-02-19 15:17] CherkaouiHamza opened #301 ". continuous_integration/install.sh instantly crash"
running `. continuous_integration/install.sh` makes the terminal itself crash and exit...

Should we definitely remove spm8 back-end and all the unstable-dead codes that come with it?

[2018-02-19 16:24] bthirion commented on #301
Yes, we should not consider spm8 any more.

[2018-02-20 09:04] CherkaouiHamza commented on #301
After, re-taking a look at install.sh, it's not a spm8 matter. Yet, it stills crash and yep we should not consider spm8 any more. And thus the installation also.

[2018-02-20 10:51] #301 closed

[2018-02-21 10:46] CherkaouiHamza opened #302 "nipype_preproc_spm_auditory.py example broken (after the sprint) (?)"
After a step-by-step installation that went well (no error, no warnings), launching the nipype_preproc_spm_auditory example result in:

(I have enable exception raising)

hc252523@is233976:~/src/THESE/pypreprocess/examples/easy_start$ python nipype_preproc_spm_auditory.py
2018-02-21 11:44:06,467:INFO: found SPM directory to be "/home/hc252523/opt/spm12/spm12/spm12_mcr/spm12"
2018-02-21 11:44:06,46

[2018-02-21 11:36] mrahim commented on #302
It looks like you are using the matlab spm rather than the standalone spm.

Le 21 févr. 2018 11:46 AM, "CherkaouiHamza" <notifications@github.com> a
écrit :

[2018-02-21 11:50] CherkaouiHamza commented on #302
I don't have matlab on this laptop... How can I check your intuition?
If that's the case, any idea how I've done that? I've just followed the instruction in the README.rst

[2018-02-21 12:23] mrahim commented on #302
Ok, I just saw `MATLAB, version 7.10.0.499 (R2010a)`
I was suspecting a matlab shipped with your (cea) ubuntu distribution.
Then, we should check what changes we made to the slicetiming.

[2018-02-21 13:18] CherkaouiHamza commented on #302
So far I understand:
nipype run
[code]
(see previous traceback)

And `spm12.sh` parse the command line that way: **spm12.sh [action] [args (here the script file)]**.

For an unknow reason there is this "script" keyword that make the parsing failed...

I'll try to understand who inject this  "script" keyword.

[2018-02-22 16:12] CherkaouiHamza commented on #302
I was not able the understand at which point in the code from pyprepreprocess to nipype who set the command line to be `spm12.sh run script`, so in `/home/hc252523/opt/spm12/spm12.sh` I change the line:
[code]
to
[code]
Which fix the crash, but It stills produced failed co-registration:

![](https://i.imgur.com/0I1FvOc.png)

So there is another issue here... First of all, I need to be sure that's

[2018-02-23 12:14] CherkaouiHamza commented on #302
This issue was reproduced in three different computers (include Kamalakar's one)
@chrplr have you check this problem regarding #281 and #291

[2018-02-26 12:12] chrplr commented on #302
Just tried on a clean install of anaconda2 and pypreprocess-master.
It does not crash (see below), but indeed the activation map and the backgound image are not corregistered.

I remarked that in the parameters list call:
        normalize=False
	coreg_anat_to_func=False

So it is not supposed to performd any spatial normalization. Ok, but realign and segment are set to True, and pypreprocess does

[2018-02-26 12:15] chrplr commented on #302
currently, in `spm_auditory_preproc.ini`

     disable_normalize = True

[2018-02-26 12:29] chrplr commented on #302
Yet, setting

     disable_normalize = False

does not seem to change anything (that is, normalization is not performed)

[2018-02-26 12:38] CherkaouiHamza commented on #302
in `pypreprocess//nipype_preproc_spm_utils.py`, can you put `ignore_exception=True`

[code]

I think your example has crashed but, the exception has been caught; because, indeed, it should have done the co-registration, the motion correction, etc... Which he has not.

(Yes, indeed `disable_normalize = True`. But at least we should have a T1 re-align...)

[2018-02-26 12:46] chrplr commented on #302
You mean a T2* (epi) realign?

[2018-02-26 12:53] CherkaouiHamza commented on #302
No, I was thinking of the anatomical re-alignement:

[code]

Those enable the anatomical co-registration.

But based on my z-map or your traceback, we seem to not do it.

(sorry if I use approximated vocabulary... :( )

[2018-02-26 13:01] chrplr commented on #302
Ok, it is indeed just a vocabulary issue:

In SPM parlance:

* realignment (= movement detection and correction) only applies to EPIs
* coregistration  applies to (mean) EPI and T1 (but does not involved normalzation)
* (spatial) normalization refers to the mapping to a normalized template.

[2018-07-11 14:32] isadenghien opened #307 "matlab_cmd for spm12 standalone"
Hi,

I'm just updating files for a small example using pypreprocess and localizer data.
I wish to use spm standalone version. So it works by using spm8, but it failed
with spm12. In fact, pypreprocess failed without message error and no ouputs
are generated. But the matlab files are generated correctly
and I can launch them into a console.
If I take a look at into the report.rst of a node, I can s

[2018-08-30 11:44] KamalakerDadi opened #308 "Migration of current CircleCI 1.0 to 2.0"
Message from CircleCI team:
This project is currently running on CircleCI 1.0 which will no longer be supported after August 31, 2018. Please start migrating this project to CircleCI 2.0.

[2018-09-05 09:47] kchawla-pi commented on #308
We can close this.

[2018-09-05 09:50] #308 closed

[2018-09-05 09:52] kchawla-pi commented on #290
WE can close this issue.
Also, seems libxp6 is not available in the official repos Ubuntu 16 onwards. Seems libxm4 is a viable replacement (which I have made).
https://ask.pathwaytools.com/question/17897/how-to-install-the-library-libxp6-on-ubuntu-to-execute-the-installation-of-pathway-tools/

[2018-10-09 13:22] tbng opened #312 "Default value for write_bounding_box paramter is not defined in pypreprocess/nipype_preproc_spm_utils.py"
When trying to do preprocessing with Pypreprocess I encountered the error:
[code]
Apparently in the commit https://github.com/neurospin/pypreprocess/commit/47b514929e4232cc605b0516d2dc92c50e0e382e#diff-3eb7a5e605c5b2a38cb0f366d23052a6 the default value for the paramter `write_bounding_box` is removed by @AGrigis . I can create a PR for this but I don't really know what should be the default value

[2018-11-26 14:53] Hororohoruru opened #313 "'AxesSubplot' object has no attribute 'hold' on nipype_preproc_spm_multimodal_faces example"
When trying to run the nipype_preproc_spm_multimodal_faces example, I get the following error:

[code]

[2018-12-03 11:56] Hororohoruru commented on #313
@bthirion

[2018-12-03 15:49] KamalakerDadi commented on #313
Should be closed by this PR #311

@Hororohoruru Could you please tell us if you don't see an error when you adapt the patch in PR #311
Thanks

[2019-01-10 16:49] chrplr opened #314 "crash"
---
 in generate_normalization_thumbnails
    segmented = warped_tpms.values().count(None) < len(warped_tpms)
AttributeError: 'dict_values' object has no attribute 'count'
---

Full trace:

---
Traceback (most recent call last):
  File "/volatile/anaconda3/lib/python3.6/site-packages/sklearn/externals/joblib/externals/loky/process_executor.py", line 418, in _process_worker
    r = call_item()
  Fi

[2019-01-16 13:21] chrplr opened #315 "install_spm12.sh fails to install the mcr (matlab compiler runtime)"
On a fresh Ubuntu 18.04 install, running install_spm12.sh yields the following error:

    "No Java Runtime Environment(JRE) was found on this system."

This is when it tries to execute

     ./MCRInstaller.bin -P bean421.installLocation="mcr"

/Note that/usr/bin/java exists (package default-jre is installed)

[2019-03-07 13:54] thomasbazeille opened #317 "Deprecated matplotlib attributes used that make test fail unconditionnally"
ax.hold() in two files :
pypreprocess/reporting/preproc_reporter.py:872
pypreprocess/time_diff.py:233

As proposed by @KamalakerDadi, in the PR that takes care of that, we should use something like
``
from distutils.version import LooseVersion
if LooseVersion(matplotlib.__version__) > LooseVersion("2.0"):
     ax.hold()
``

This is preventing pending PRs to be merged without any relation to their

[2019-03-07 14:12] thomasbazeille opened #318 "nipype_preproc_spm_auditory.py example fail because of glm reporter wrong input"
@kchawla-pi is working on cleaning the glm reporter code for nistats.

Maybe we should wait until he's finished and build on that

[2019-03-07 14:24] KamalakerDadi commented on #317
We support from matplotlib 0.99.1. So, my idea was to add check on matplotlib version for < 2.0. This holds in the code base but not in examples. As examples should be run on recent version.
 or
We could bump the matplotlib version ?

[2019-03-07 14:48] thomasbazeille commented on #318
This is also the main bug for examples/pipelining/nipype_preproc_spm_multimodal_faces.py

That can run apart from that

[2019-03-07 20:32] bthirion commented on #317
Please bump the matplotlib version: align it to that of Nilearn.

[2019-03-13 08:06] thomasbazeille commented on #317
Solved by #319

[2019-03-13 08:06] #317 closed

[2019-03-13 08:08] thomasbazeille commented on #313
Can be closed thanks to #319

[2019-03-25 13:13] thomasbazeille commented on #318
Related to #287

[2019-04-01 11:40] thomasbazeille commented on #210
Update on this : @lesteve did the hardwork here and his last comment is right on point. But this bug is still happening randomly sometimes, I will redesign the concerned test to make it deterministic.

[2019-04-16 16:04] dagra opened #322 "Bugs with shear in realign and spm_imatrix"
Hi,
while i was doing some experiments with _realign_ with more parameters than the default and with _spm_imatrix_  i found out the following problems:
1. even though _realign.py_ can compute more parameters than the default 6 rigid body, it returns only the first 6 and i think the problem is in [this line](https://github.com/neurospin/pypreprocess/blob/master/pypreprocess/realign.py#L594) where 6

[2019-07-14 06:19] kingjr commented on #315
I faced the same issue. It works with a 32bit MCR:
[code]

[2019-07-14 12:50] kingjr commented on #152
Same issue here
@MartinPerez did you find a way to solve it by any chance?

[2019-07-14 13:34] bthirion commented on #152
You may want to use git@github.com:dohmatob/pyaffineprep.git instead. It
contains the sume Pythone routine, possibly with less overhead. HTH

On 14/07/2019 14:50, Jean-Rémi KING wrote:

[2019-07-14 20:29] kingjr commented on #152
Thanks @bthirion

[2019-10-20 12:34] kaustubhrpatil opened #324 "SPM configuration fails"
I have installed pypreprocess in a Python 2.7 virtual environment on Debian 9.9 but without neurodebian travis as I do not have root access. I cannot get the SPM configured.

Here is my test code and associated output.

Code:
import os
from pypreprocess.configure_spm import _configure_spm

print 'SPM_DIR:', os.getenv('SPM_DIR')
print 'SPM_MCR:', os.getenv('SPM_MCR')
print 'SPM CONFIGURED:', _confi

[2019-10-21 07:54] KamalakerDadi commented on #315
Hi @chrplr did you find a solution to this ?

[2019-10-21 08:07] KamalakerDadi commented on #324
Hi @kaustubhrpatil

I think it might be related to #315

[2019-10-21 08:31] kaustubhrpatil commented on #324
@KamalakerDadi thanks for referencing #315 but I do not get any errors while installing spm mcr or any java related errors.

[2019-10-21 08:32] KamalakerDadi commented on #324
Did you tried with install_spm12.sh in continuous_integration ?

[2019-10-21 08:34] kaustubhrpatil commented on #324
yes I used this script.

[2019-10-21 08:39] KamalakerDadi commented on #324
Do you have MCRInstaller.bin in ~/opt/spm12 ?

Can you try this line in the same directory ?
 ./MCRInstaller.bin -P bean421.installLocation="mcr"

[2019-10-21 08:48] kaustubhrpatil commented on #324
It finished with this message:

The InstallShield Wizard has successfully installed MATLAB(R) Compiler Runtime 7.13.

Then I re-installed pyprocess producing following log but my test still fails (spm is still None):

Appending pypreprocess configuration to
Ignoring attempt to set 'name' (from '' to 'pypreprocess')
Appending pypreprocess/spm_loader configuration to
Ignoring attempt to set 'name' (

[2019-10-21 08:56] kaustubhrpatil commented on #324
Aha while installing I also get a warning, maybe that's a clue?

Warning: Assuming default configuration (pypreprocess/spm_loader/setup_pypreprocess/{setup_pypreprocess/spm_loader,setup}.py was not found)

[2019-10-21 12:29] KamalakerDadi commented on #324
Ok. so it not related to the issue #315 then. It is specific to Ubuntu 18.10. I am currently having the same problem.

Coming to your issue. I did a fresh installation without neurodebian travis and I am unable to reproduce the issue you are showing.
[code]
ATM I am unsure what's happening by looking at the warnings.

[2019-10-23 16:18] swaythe opened #325 "Report html file incomplete because PHP is not rendered properly"
The Results section of the report is generated within a php file which is loaded into the report_* html file via javascript. This pipeline seems to have broken over the years. Does anyone have a solution?

[2019-10-23 20:31] bthirion commented on #325
@kchawla-pi
The simplest solution would be to copy the nistats approach, right ?

[2019-10-25 08:47] chrplr commented on #315
No.
I can install MCR/glnx86 as JR King suggested, but then, under Ubuntu
19.04, I get:

/home/cp983411/opt/spm12/spm12/spm12_glnxa64: error while loading shared
libraries: libmwmclmcrrt.so: cannot open shared object file: No such file
or directory

On Mon, Oct 21, 2019, 09:54 KamalakerDadi <notifications@github.com> wrote:

[2020-11-23 11:08] TamerGezici opened #337 "Windows compatibility"
Does this work on Windows? I ask because I have SPM and MatLab. I tried adding an environment variable as SPM_DIR (not sure if I did it correct though) and I got these errors when trying the demo scripts:

[code]

[2020-11-23 14:32] TamerGezici commented on #337
I tried it on Linux and ran into an error like this:

[code]

[2020-11-23 14:36] bthirion commented on #337
You probably need the lastest Nilearn (sorry...)

[2020-11-23 14:51] swaythe commented on #337
@TamerGezici Thanks for looking into pypreprocess! We currently only maintain it for Linux so I'm not sure if it works on Windows or not.

As for the error you get with Linux, a new nilearn version was released recently and we're updating the nilearn references in pypreprocess. Check back in a couple of days for a working version.

[2020-11-23 14:56] TamerGezici commented on #337
@swaythe

Thank you for your reply! I will wait for the nilearn update then. Can you please write a warning on the repository's main page about Linux compatibility? That would be much better as I wouldn't have tried it on windows then.

I guess it should be possible to provide SPM script directory directly inside the script (hardcode it) somehow. I searched for SPM_DIR in the repository using Visu

[2020-11-30 13:45] swaythe commented on #337
@TamerGezici It's a little later than expected but a working version of pypreprocess is now available. Let me know if you run into any more issues.

[2020-12-05 12:17] TamerGezici commented on #337
Thank you.

I have a new error. Here's the message. If you want I can create a new issue.

[code]

[2020-12-05 18:44] bthirion commented on #337
Thx for reporting.
Well the current reporting module no longer works on any platform. We want to redesign it anyhow.

[2021-01-05 23:01] man-shu opened #341 "Issue with current reporting"
### Problem:
By running the `easy_start` examples, I found that the major issue with pyprocess's current reporting is that the reports show plots by embedding locally saved images into an HTML template. Most of the browsers these days have a security feature which prevents loading locally saved images through HTML. As a result, even though pypreprocess creates and saves the plots on the disk prope

[2021-01-07 12:44] man-shu commented on #341
So keeping i. and ii. would mean that there would still be some remnants of current reporting, but the plots would be embedded in HTML reports as they are in the nilearn reporting module.

[2021-01-07 20:54] bthirion commented on #341
@man-shu thx for the detailed analysis !
I think e should keep i and ii indeed. If I understand correctly, this amounts to adapting current functions  to give a different output.
It can be a bit tedious, but not too complex I hope ?
Best,

[2021-01-08 10:36] man-shu commented on #341
Thanks, @bthirion ! Yes, I am on it!

[2021-02-03 19:18] NicolasGensollen commented on #341
Hi @man-shu
I thought a little bit about the size issue of the generated reports you mentioned. If I understand correctly, you have several SVG images that end up weighting around 24MB which is way too heavy.
Maybe I understood it wrong (and we can discuss this more tomorrow during our meeting then), but could you have a look at the following example code I tried to see if this could solve your pr

[2021-02-03 20:19] bthirion commented on #341
If svgs are too heavy, you may want to reduce the dpi.
Best,

[2021-02-04 09:22] man-shu commented on #341
Thanks, @NicolasGensollen @bthirion. Yes, this is exactly the problem. I will try this and let you know.

[2022-05-21 08:15] aritche opened #345 "Is smoothing meant to be listed in report.html?"
Hi,

I want to apply FWHM smoothing to my data as one of my preprocessing steps. I have modified one of the example .ini files, and have successfully preprocessed my data. However, the report.html for each subject lists every preprocessing step, except for smoothing. Is smoothing supposed to show up in this report file if it has been applied?

I have attached my .ini file, as well as example repor

[2022-05-22 20:10] bthirion commented on #345
Hi,
In the lab we prefer not to store smoothed data, as  we consider than smoothing can be applied during a posteriori analysis (e.g. with NiftiMaskers).
Nervertheless, I understand that you might want to do otherwise. Would you like to submit a PR ?

[2022-05-23 08:19] aritche commented on #345
No worries. I am a beginner when it comes to preprocessing, so I was just wanting to make sure I wasn't doing anything wrong. So am I understanding correctly that the smoothing is not applied to files that are output from pypreprocess, so I should apply the smoothing separately afterwards?

[2022-05-23 08:26] bthirion commented on #345
You can apply smoothing during preprocessing and store smoothed files.
My opinion is that this is not a very good thing to do, because it is irreversible, hence if you want to be able to work on unsmoothed data, you need to store both the smoothed and unsmoothed data. So my advice is to only store unsmoothed data and perform smoothing later, when you load the data for a given analytic task. Smooth

[2022-05-26 11:08] aritche commented on #345
Thank you, your argument is convincing. I will do that.

But, since I have already run pypreprocessing on my data using this attached my_config.txt as my .ini file, it brings me back to my original question. How can I tell if smoothing was applied to my data? The .ini file contains "smooth_software = spm" and "fwhm = [5, 5, 5]", but the report.html does not mention that the smoothing occurred. Is

[2022-05-26 18:46] bthirion commented on #345
I think that applying smoothing would prepend an s to the filename.
With a bit of experience, you can also see that by eye ;-)